.background-white.paddedsection
  .container
    .row
      .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
        %h1.margin-bottom
          {{cms:page:title:string}}
        .richtext
          {{cms:page:content:rich_text}}

          {{cms:page:stupidimage:file}}