.background-white
  .container
    .row
      .col-sm-12.text-center
        .margin-top
        %h1 Metric

  .metricheader
    .container
      .row
        .col-sm-12
          .metricheader-name
            {{cms:page:name}}
            .goallabel.red {{cms:page:goal}}

          .metricheader-description {{cms:page:description}}

          .linebreak

        .col-sm-6
          %dl
            %dt Our target:
            %dd {{cms:page:target_description}}

.paddedsection.background-white
  .container
    .row
      .col-sm-12
        %h2.margin-bottom Help us reach our goals for this metric

    .row
      {{cms:partial:action_items/metric_list}}

.background-white
  .container
    .row
      .col-sm-12
        {{cms:partial:application/disqus}}

