.background-white
  .greaterinitiative
    .container
      .row
        .col-md-12
          .greaterinitiative-slashes //
          %dl
            %dt The My LA2050 Grants Challenge is part of the greater <a href='/'>LA2050 initiative</a>
            %dd We’re working to move Los Angeles toward the LA2050 goals

  .linenav-wrap
    .container
      .row
        .col-md-12
          %ul.linenav
            %li
              %a{ href: '/challenge' } 2015 MyLA2050 Grants Challenge
            %li= "|"
            %li.selected LA2050Listens
            %li= "|"
            %li
              %a{ href: '/grantees' }  Our grantees

  .container
    .row
      .col-md-12
        %h1 #LA2050Listens
        %p.prose.secondary #LA2050Listens is a series of community conversations led by local organizations to solicit feedback on LA2050 from a broad and representative group of Angelenos. With an open call for proposals, we asked local organizations to submit ideas on how they would engage their community around the LA2050 goals and reports.

        %p.prose.secondary Thirty organizations have launched public engagement events about the future of Los Angeles. These events were conducted in English, Spanish, and Tagalog, reflecting our region’s cultural diversity. Engagement methods ranged from community conversations over basket weaving to a storytelling summit at MacArthur Park, a “sidewalk engagement” session, and even a radio show where Angelenos were able to chat live and discuss their vision for the future of LA.

        %ul
          %li.prose.secondary 30,000 Angelenos engaged
          %li 30 events from Central LA to the San Fernando Valley
          %li $5,000 each to execute an event of their choice

        %h2.margin-bottom Examples of Engagement

        %p.prose.secondary
          %a{ :href =>"http://www.lacommons.org/"}LA Commons
          hosted a storytelling summit at MacArthur Park in which youth interviewed Angelenos on their vision for the future of Los Angeles

        %p.prose.secondary LOT TO SPOT hosted a "sidewalk engagement" session, aka a block party on the goals and participants were able to create visuals of their vision for the future of Los Angeles!

        %p.prose.secondary DOWNTOWN WOMEN’S CENTER hosted an interactive ideation session with members of the Skidrow community and local organizers

        %p.prose.secondary railLA hosted Expo Explorers, in which Angelenos explored and reflected on the goals through visiting various areas of Los Angeles by riding the Expo line

        %p.prose.secondary KCHUNG/THANK YOU FOR COMING hosted a radio session where Angelenos were able to chat live and discuss their vision for the future of Los Angeles!

        
        %h2.margin-bottom 2014 #LA2050Listens Grantees
        %ul
          %li Antioch University Los Angeles
          %li Art of Leadership, University of Southern California
          %li Central American Resource Center of California
          %li Downtown Women’s Center
          %li Fernandeno Tataviam Band of Mission Indians
          %li filmanthropos
          %li From Lot to Spot
          %li Heart of Los Angeles
          %li KCHUNG and Thank You For Coming
          %li LA Commons
          %li LA-Más
          %li LA River Revitalization Corporation
          %li LA Streetsblog
          %li Los Angeles Walks
          %li LIFT Los Angeles
          %li railLA
          %li T.R.U.S.T. South LA
          %li The Hub LA
          %li USAC Office of the President
          %li Violence Prevention Coalition
