.background-grey.paddedsection
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1 Our shared goal:
        %p.prose.summary.margin-bottom to make LA the best place to
        .goalsdisplay
          {{ cms:file:connect.png:image }}
        %p.prose.primary.margin-top
          One of five
          %a{ href: '/goals' } LA2050 Goals

        .sectionbreak.margin-top-more.margin-bottom-more

        %p.prose.summary
          Our region is a place where every resident has the opportunity to engage and interact with other Angelenos and are empowered to contribute meaningfully in civic processes.

        %p.prose.summary
          In 2050, Los Angeles will be the most civically engaged region in the U.S., with multiple online and offline platforms for residents to voice their opinions and influence elected officials, decision-makers, and local government. Our region’s voting rates and volunteerism will lead the nation, and an expanded network of transportation options will facilitate the easy flow of people and ideas.

.background-grey.paddedsection
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1 Metrics
        %p
          %a{ :href => "/metrics" } Where do these come from?

.background-grey.paddedsection
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1 Updates