.background-white.paddedsection
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1.margin-bottom Goals
        %p.prose.secondary.margin-top
          With assistance from the LA2050 community, we have developed a series of goals for LA in the year 2050. The goals were shaped by citizen visions, our LA2050 reports, and input from experts, advisors, and partners.  Each goal can be reached by achieving specific metrics that describe where we want to be across more than 60 measures of life in Los Angeles.
        %p.prose.secondary.margin-bottom
          Learn more about making LA the best place to learn, create, play, connect, and live.

    .row
      .col-sm-8.col-sm-offset-2
        .linebreak.margin-top.margin-bottom

    .row
      .col-sm-12.text-center
        %p.prose.guide.margin-top Our goals are to make Los Angeles the best place to:

  .goalsdisplay
    .goalsdisplay-learnback
      .container
        .row.text-center
          .col-md-12
            %a{:href => "/goals/learn"}
              {{cms:file:full_learn.png:image}}

    .goalsdisplay-createback
      .container
        .row.text-center
          .col-md-12
            %a{:href => "/goals/create"}
              {{ cms:file:full_create.png:image }}

      .goalsdisplay-playback
        .container
          .row.text-center
            .col-md-12
              %a{:href => "/goals/play"}
                {{ cms:file:full_play.png:image }}

    .goalsdisplay-connectback
      .container
        .row.text-center
          .col-md-12
            %a{:href => "/goals/connect"}
              {{ cms:file:full_connect.png:image }}

    .goalsdisplay-liveback
      .container
        .row.text-center
          .col-md-12
            %a{:href => "/goals/live"}
              {{ cms:file:full_live.png:image }}




