.background-grey.paddedsection
  .container
    .col-sm-8.col-sm-offset-2.text-center
      %h1 Goals
      %p.prose.primary
        In order to track and drive progress, Angelenos must first be united by a shared vision of success for the region.
        In 2014, we launched #LA2050Listens - a series of community conversations - alongside expert roundtables to create a shared vision for the future of Los Angeles. Those conversations shaped the LA2050 Goals and Metrics which you can learn about below.
      %a{:href => "/about"}
        %button.bigger Learn More About #LA2050Listens

.paddedsection
  .container
    .col-sm-8.col-sm-offset-2.text-center
      %p.prose.guide Our goals are to make Los Angeles the best place to:

.container
  .goalsbackground-play.row.text-center
    .col-md-10.col-md-offset-1
      %a{:href => "/play"}
        {{ cms:file:play.png:image }}
  .goalsbackground-connect.row.text-center
    .col-md-10.col-md-offset-1
      %a{:href => "/connect"}
        {{ cms:file:connect.png:image }}
  .goalsbackground-live.row.text-center
    .col-md-10.col-md-offset-1
      %a{:href => "/live"}
        {{ cms:file:live.png:image }}
  .goalsbackground-learn.row.text-center
    .col-md-10.col-md-offset-1
      %a{:href => "/learn"}
        {{ cms:file:learn.png:image }}
  .goalsbackground-create.row.text-center
    .col-md-10.col-md-offset-1
      %a{:href => "/create"}
        {{ cms:file:create.png:image }}

.paddedsection
  .container
    .col-sm-6.col-sm-offset-3.text-center
      %p
      Learn more about the numbers behind the metrics and meet Angelenos moving LA in the right direction.
      %a{:href => "/metrics"}
        %button.bigger Join The Discussion