.background-white.paddedsection
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1.margin-bottom Goals
        %p.prose.summary
          In order to track and drive progress, Angelenos must first be united by a shared vision of success for the region.
        %p.prose.summary.margin-bottom
          In 2014, we launched #LA2050Listens - a series of community conversations - alongside expert roundtables to create a shared vision for the future of Los Angeles. Those conversations shaped the LA2050 Goals and Metrics which you can learn about below.
        %a.bigger.button{:href => "/about/la2050listens"}
          Learn More About #LA2050Listens

    .row
      .col-sm-12.text-center
        %p.prose.guide.margin-top Our goals are to make Los Angeles the best place to:

.goalsdisplay
  .goalsdisplay-playback
    .container
      .row.text-center
        .col-md-12
          %a{:href => "/goals/play"}
            {{ cms:file:play.png:image }}

  .goalsdisplay-connectback
    .container
      .row.text-center
        .col-md-12
          %a{:href => "/goals/connect"}
            {{ cms:file:connect.png:image }}

  .goalsdisplay-liveback
    .container
      .row.text-center
        .col-md-12
          %a{:href => "/goals/live"}
            {{ cms:file:live.png:image }}

  .goalsdisplay-learnback
    .container
      .row.text-center
        .col-md-12
          %a{:href => "/goals/learn"}
            {{ cms:file:learn.png:image }}

  .goalsdisplay-createback
    .container
      .row.text-center
        .col-md-12
          %a{:href => "/goals/create"}
            {{ cms:file:create.png:image }}

.paddedsection
  .container
    .col-sm-6.col-sm-offset-3.text-center
      %p.prose.primary
        Learn more about the numbers behind the metrics and meet Angelenos moving LA in the right direction.
      %a{:href => "/metrics"}
        %button.bigger Join The Discussion