.background-grey.paddedsection
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1 Our shared goal:
        %p.prose.summary to make LA the best place to
        .goalsdisplay
          {{ cms:file:learn.png:image }}
        %p.prose.primary
          One of the five
          %strong LA2050 Goals
        %p.prose.summary
          Our region offers opportunities for lifelong learning, allowing all residents to contribute their skills, talents, and abilities to society.

        %p.prose.summary
          By 2050, all Los Angeles students will have access to early education programs, every high school student will graduate and be college and career ready, and all parents will be engaged and empowered to direct their children’s learning. LA will capitalize on its concentration of higher education facilities to foster new businesses, advance research, and spur innovation.

.background-grey.paddedsection
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1 Metrics
        %a{ :href => "/metrics" }
          %p Where do these come from?

.background-grey.paddedsection
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1 Updates