%p.prose.summary
  Our region offers opportunities for lifelong learning, allowing all residents to contribute their skills, talents, and abilities to society.

%p.prose.summary
  By 2050, all Los Angeles students will have access to early education programs, every high school student will graduate and be college and career ready, and all parents will be engaged and empowered to direct their children’s learning. LA will capitalize on its concentration of higher education facilities to foster new businesses, advance research, and spur innovation.
