.background-white.paddedsection
  .container
    .row
      .col-sm-8
        %h1 Reports
        %p
          LA2050 conducts research and reporting to inform residents and leaders about the status of the region and the progress of the LA2050 initiative.  The reports measure indicators, goals and metrics to track the quality of life in LA.  The reports also analyze the work of LA2050 grantees and the trends of submissions to the My LA2050 Grants Challenge and #LA2050Listens.
