.background-white.paddedsection
  .container
    .row
      .col-sm-8
        %h1 Reports
        %p
          LA2050 conducts research and reporting to inform Angelenos about the status of our region and the progress toward the LA2050 goals. The reports measure indicators, goals, and metrics to track the quality of life in Los Angeles. The reports also analyze the work of LA2050 grantees and the trends and impact of submissions to the My LA2050 Grants Challenge and #LA2050Listens community conversation series.

        %p
          Read our Reports
