.background-white.paddedsection
  .container
    .row
      .col-sm-9
        %h1 Reports
        %p {{cms:page:reports_description}}          

  .container.margin-top
    {{cms:partial:reports/reports}}