%p.prose.secondary
  LA2050 would like to thank our
  %a{:href => "#academic-advisors"}Academic Advisors,
  %a{:href => "#advocacy-advisors"}Advocacy Advisors,
  %a{:href => "http://goldhirshfoundation.org/about/"}Goldhirsh Foundation staff,
  %a{:href => "/grantees"}Grantees,
  %a{:href => "#partners"}Partners,
  and
  %a{:href => "#contributors"}Contributors
  who offered their time and expertise to help steer this important effort.

%a{ id: 'academic-advisors' }
%h2 Academic Advisors
%p
  %strong Adlai Wertman
  Professor of Clinical Management and Organization; Founding Director of the Society and Business Lab at University of Southern California

%p
  %strong Daniel Flaming
  President, Economic Roundtable

%p
  %strong Dr. Dowell Myers
  Professor, University of Southern California; Director, Population Dynamics Research Group at the Sol Price School of Public Policy at University of Southern California

%p
  %strong Dr. Caprice Young
  CEO, Magnolia Public Schools

%p
  %strong Dr. Edward Blakely
  Honorary Professor of Urban Policy at the United States Studies Centre at the University of Sydney

%p
  %strong Dr. Janis Breidenbach
  Adjunct Associate Professor, University of Southern California

%p
  %strong Dr. Manuel Pastor
  Professor of Sociology and American Studies and Ethnicity at University of Southern California

%p
  %strong Dr. Maria Rosario Jackson
  Consultant, instructor, and writer in the fields of urban planning, community development and arts and culture

%p
  %strong Dr. Marlon Boarnet
  Expert on urban economics, urban growth patterns, transportation, and regional science. Vice Dean for Academic Affairs and Director of Graduate Programs in Urban Planning at University of Southern California's Sol Price School of Public Policy.

%p
  %strong Dr. Martin Wachs
  Distinguished Professor Emeritus in Urban Planning at the University of California, Los Angeles Luskin School of Public Affairs

%p
  %strong Dr. Matthew Kahn
  Professor, Institute of the Environment, Department of Public Policy, Department of Economics at the University of California, Los Angeles Luskin School of Public Affairs

%p
  %strong Dr. Richard Green
  Professor, University of Southern California; Director and Chair of the USC Lusk Center for Real Estate the Sol Price School of Public Policy at University of Southern California

%p
  %strong Dr. Stephanie Pincetl
  Adjunct Professor, University of California, Los Angeles, Director of the California Center for Sustainable Communities at University of California, Los Angeles

%a{ id: 'advocacy-advisors' }
%h2 Advocacy Advisors
%p
  %strong Amy Amsterdam
  Project Manager at Plus Foundry
%p
  %strong Mike Dennis
  Director of Organizing, East Los Angeles Community Corporation
%p
  %strong Catherine Geanuracos
  Digital Strategist, CEO New Economy Campaigns, Co-Founder of Hack For LA, Spin the Vote, CicLAvia
%p
  %strong Ryan Smith
  Executive Director, Education Trust - West
%p
  %strong Chance Barnett
  CEO, Crowdfunder
%p
  %strong Rudy Espinoza
  Executive Director, Leadership for Urban Renewal Network
%p
  %strong Mark Glassock
  Director of Special Projects, Los Angeles Neighborhood Land Trust
%p
  %strong Kabira Stokes
  Founder and CEO, Isidore Electronics Recycling
%p
  %strong Yvette Lopez-Ledesma
  Deputy Director at Pacoima Beautiful
%p
  %strong Tafarai Bayne
  Los Angeles Urban Developer, Civic Booster and Brand Evangelist
%p
  %strong Clare Fox
  Executive Director, Los Angeles Food Policy Council
%p
  %strong Jessica Meaney
  Managing Director, Investing in Place
%p
  %strong Elizabeth Timme
  Co-Executive Director, LA-Mas
%p
  %strong Shawn Landres
  Board Chair at HUB Los Angeles; Commissioner, Quality and Productivity Commission at Los Angeles County; Co-founder, CEO & Director of Research at Jumpstart Labs

%a{ id: 'partners' }
%h2 Partners

%p
  Special thanks to the Roy and Patricia Disney Family Foundation and the Annenberg Foundation who have each contributed financial resources and expertise to the LA2050 campaign and grantees.

%a{ id: 'contributors' }
%h2 Contributors

%p
  %strong Brian Stetcher
  Associate Director, RAND Education Senior Social Scientist Professor, Pardee RAND Graduate School

%p
  %strong Catherine Atkins
  Executive Director Preschool California

%p
  %strong Dr. David Sloan
  Professor and Director at the Sol Price School of Public Policy at University of Southern California

%p
  %strong Dr. Dowell Myers
  Professor, University of Southern California; Director, Population Dynamics Research Group at the Sol Price School of Public Policy at University of Southern California

%p
  %strong Dr. Fernando Torres-Gil
  Professor of Social Welfare; Professor of Public Policy; Director of the Center for Policy Research on Aging at University of California, Los Angeles

%p
  %strong Mary Leslie
  Executive Director, Los Angeles Business Council

%p
  %strong Dr. Richard Jackson
  Professor and Chair of Environmental Health Sciences and Professor of the Institute of the Environment & Sustainability and Urban Planning at University of California, Los Angeles

%p
  %strong John Blank
  Deputy Chief Economist for the Los Angeles County Economic Development Corp

%p
  %strong Karen Constine
  Public Affairs & Arts/Cultural Management Consulting

%p
  %strong Harry Atwater
  Professor & Director­, Resnick Inst. CA Inst. of Technology

%p
  %strong Elise Buik
  President & CEO, United Way of Greater Los Angeles

%p
  %strong Peter Diamandis
  Chairmain & CEO, X Prize Foundation

%p
  %strong Joe Edmiston
  Executive Director, Santa Monica Mountain Conservancy

%p
  %strong Julia Gouw
  President & CEO, East West Bank Corp Inc

%p
  %strong Dr. Neal Kaufman
  Professor, Pediatrics & Public Health UCLA

%p
  %strong Joel Kotkin
  Author of "New Geography: America in 2050"

%p
  %strong Michael Maltzan
  Principal, Michael Maltzan Architecture

%p
  %strong Claire Peeps
  Executive Director, Durfee Foundation

%p
  %strong Josephine Ramirez
  Program Director for the Arts, James Irvine Foundation

%p
  %strong Connie Rice, Esq
  Co-Director, The Advancement Project

%p
  %strong Dr. Robert Ross
  President & CEO, The California Endowment

%p
  %strong DJ Waldie
  Author, Los Angeles Times & Los Angeles Magazine

%p
  %strong Yasmin Tong
  Yasmin Tong Consulting

%p
  %strong Sandra McNeill
  T.R.U.S.T. South LA

%p
  %strong Tim Higgins
  UCLA cityLAB

%p
  %strong Remy de la Peza
  Public Counsel

%p
  %strong Guillermo Cespedes
  Deputy Mayor of Gang Reduction and Youth Development

%p
  %strong Sheriff Lee Baca
  LA County Sheriff's Department

%p
  %strong Ken Brecher
  President, Los Angeles Public Library Foundation

%p
  %strong Geoff Wardle
  Director of Advanced Mobility Research, Art Center College & Design.

%p
  %strong Dr. Henry Gray
  Professor & Founding Director, Beckman Inst. CA Inst. of Technology

%p
  %strong Michael Govan
  CEO & Director, Los Angeles County Museum of the Arts

%p
  %strong Geraldine Knatz
  Executive Director, Port of Los Angeles

%p
  %strong Aaron Paley
  President and Co-Founder, CARS

%p
  %strong Adlai Wertman
  Professor and Founding Director of Society and Business Lab at University of Southern California Marshall School of Business

%p
  %strong Allison Graff-Weisner
  Executive Director of City Year Los Angeles

%p
  %strong Amita Swadhin
  Los Angeles Executive Director, Peer Health Exchange

%p
  %strong Andy Lipkis
  Executive Director, TreePeople

%p
  %strong Bea Stotzer
  Board President, NEW Economics for Women

%p
  %strong Bettina Korek
  Founder and Executive Director, ForYourArt

%p
  %strong Carl Cade
  Real Estate Developer & Investor Education Entrepreneur

%p
  %strong Danny Corwin
  CFO, California Charter Schools Association

%p
  %strong David Conforti
  Director of Special Projects at Annenberg Foundation

%p
  %strong David Flaks
  COO, Los Angeles County Economic Development Corporation

%p
  %strong David Levinson
  Founder and Executive Director, Big Sunday

%p
  %strong Jennifer Ferro
  General Manager, KCRW

%p
  %strong Jennifer Perry
  Executive Director, Children’s Action Network

%p
  %strong Jill Bauman
  President and CEO, ImagineLA

%p
  %strong Joel Sappell
  Deputy for Special Projects for L.A. County Supervisor Zev Yaroslavsky

%p
  %strong Justin Veach
  Associate Director of Cultural Programs at Library Foundation of Los Angeles Kafi Blumenfield President and CEO of Liberty Hill Foundation

%p
  %strong Karen Mack
  CEO and Founder, LA Commons

%p
  %strong Laurie Ochoa
  Arts and Entertainment Editor at The Los Angeles Times

%p
  %strong Torie Osborne
  Deputy Mayor of Neighborhood and Community Services

%p
  %strong John Szabo
  Los Angeles Public Library

%p
  %strong Lee Condon
  Owner of Pacesetter Productions, former LAUSD Chief of Staff

%p
  %strong Karen Caruso
  Third Street Elementary School

%p
  %strong  Alvidrez
  Skid Row Housing Trust

%p
  %strong Deputy Chief Bob Green
  LAPD

%p
  %strong Assistant Sheriff Jim Hellmold
  LA County Sheriff's Department

%p
  %strong Benjamin Stokes
  USC and Games for Change

%p
  %strong Marcia Aaron
  Executive Director, KIPP LA

%p
  %strong Karla Zombro
  California Calls

%p
  %strong Mark Gold
  Associate Director and Adjunct Professor, University of California, Los Angeles Institute of the Environment and Sustainability

%p
  %strong Joel Arquillos
  826LA

%p
  %strong Mia Lehrer
  President Mia Lehrer + Associates

%p
  %strong Michael Kelly
  Former Executive Director, the Los Angeles Coalition

%p
  %strong Ama Nyamekye & Sydney Morris
  Educators 4 Excellence

%p
  %strong Michelle Rhone-Collins
  Executive Director, LIFT-LA

%p
  %strong Ben Austin
  Parent Revolution

%p
  %strong Van Jones
  Founding President of Rebuild the Dream

%p
  %strong Neil Fromer
  Executive Director Resnick Institute at California Institute of Technology

%p
  %strong Madeline Janis
  Los Angeles Alliance for a New Economy

%p
  %strong Nike Irvin
  Vice President of Programs, California Community Foundation

%p
  %strong Omar Brownson
  Executive Director, Los Angeles River Revitalization Corporation

%p
  %strong Roxana Tynan
  Los Angeles Alliance for a New Economy

%p
  %strong Rudy Espinoza
  Community Financial Resource Center

%p
  %strong Rafael Gonzalez
  Former Chief Service Officer & Director of Neighborhood & Community Services, Office of Mayor Antonio R. Villaraigosa

%p
  %strong Kathlyn Mead
  Executive Vice President & COO for The California Endowment

%p
  %strong Ruben Gonzalez
  Board Member, US-Mexico Border Philanthropy Partnership

%p
  %strong Romel Pascual
  Deputy Mayor of Environment

%p
  %strong Dana Cuff
  Professor, UCLA Architecture & Urban Design

%p
  %strong Fred Walti
  Los Angeles Cleantech Incubator

%p
  %strong Paula Daniels
  Senior Advisor to the Mayor of Los Angeles

%p
  %strong Elsa Barboza
  SCOPE

%p
  %strong Brian Garrett
  CrossCut Ventures

%p
  %strong Kabira Stokes
  Isidore Recycling

%p
  %strong Annemarie Ralph
  Thomas Starr King Middle School

%p
  %strong Vinit Mukhija
  UCLA Luskin School of Public Affairs

%p
  %strong Sissy Trinh
  Southeast Asian Community Alliance

%p
  %strong Julio Marcial
  The California Wellness Foundation