- unless @metric.percent_of_target.nil?
  .pillbox-wrap
    .pillbox-outer
      .pillbox-inner{style: "width:#{@metric.percent_of_target}%;" }

    .pillbox-axis
      - @metric.data_points.each do |data_point|
        .pillbox-value{style: "width:#{data_point.percent_of_target}%;" }= data_point.value_with_units
        .pillbox-year{style: "width:#{data_point.percent_of_target}%;" }= data_point.data_time.year
