- if @metric.dream == true
  %dt This is one of our Dream Metrics, metrics we’d love to measure but don’t have data for.
  %dl
    Know how to measure this metric? Send us an email at connect@la2050.org
- elsif @metric.dream == false
  %dt Our target:
  %dl #{@metric.target_description}