.background-white.paddedsection
  .container
    .row
      .col-md-12
        %h1.margin-bottom Instagram feed

  .container.instagram
    .row
      {{cms:partial:application/instagramposts}}

    .row
      .col-sm-8.col-sm-offset-2.text-center
        %a.margin-top.button{ :href => "http://instagram.com/la2050" } See more