.background-grey.paddedsection
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1 Our shared goal:
        %p.prose.summary to make LA the healthiest place to
        .goalsdisplay
          {{ cms:file:live.png:image }}
        %p.prose.primary
          One of the five
          %strong LA2050 Goals
        %p.prose.summary
          Our region’s residents have the economic means and cultural capital to lead active, healthy lives, and everyone benefits from a sustainable environment.
        %p.prose.summary
          In 2050, Los Angeles will have the nation’s lowest obesity rates and every neighborhood will have access to healthy, affordable food. Every family will be able to afford quality health care and housing. And no families will face environmental health hazards because of where they live or how much money they make.

.background-grey.paddedsection
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1 Metrics
        %p
          %a{ :href => "/metrics" } Where do these come from?

.background-grey.paddedsection
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1 Updates