%p.prose.secondary
  Our region’s residents have the economic means and cultural capital to lead active, healthy lives, and everyone benefits from a sustainable environment.
%p.prose.secondary
  In 2050, Los Angeles will have the nation’s lowest obesity rates and every neighborhood will have access to healthy, affordable food. Every family will be able to afford quality health care and housing. And no families will face environmental health hazards because of where they live or how much money they make.
