%footer
  .container
    .row
      .col-sm-4
        .footer-la2050
          %h1 LA2050
          %div with support from the
          %a.footer-goldhirsh{ href: 'http://www.goldhirshfoundation.org/', target: '_blank' }

      .col-sm-3
        .footer-sectionheader Connect

        .footer-social
          %a.footer-facebook{ href: 'http://facebook.com/la2050', target: '_blank' }
          %a.footer-twitter{ href: 'http://twitter.com/la2050', target: '_blank' }
          %a.footer-instagram{ href: 'http://instagram.com/la2050', target: '_blank' }
          %a.footer-pinterest{ href: 'http://pinterest.com/la2050', target: '_blank' }

      .col-sm-5
        .footer-sectionheader Newsletter signup
        .footer-newslettersignup
          / Begin MailChimp Signup Form
          #mc_embed_signup
            %form#mc-embedded-subscribe-form.validate{:action => "//la2050.us6.list-manage.com/subscribe/post?u=81b6d7b4efb839b992bf7ae72&amp;id=b16f498212", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
              #mc_embed_signup_scroll
                .mc-field-group
                  %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => "", :placeholder => 'Your email'}
                #mce-responses.clear
                  #mce-error-response.response{:style => "display:none"}
                  #mce-success-response.response{:style => "display:none"}
                / real people should not fill this in and expect good things - do not remove this or risk form bot signups
                %div{:style => "position: absolute; left: -5000px;"}
                  %input{:name => "b_81b6d7b4efb839b992bf7ae72_b16f498212", :tabindex => "-1", :type => "text", :value => ""}/
                .clear
                  %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Sign up"}/