.background-grey.paddedsection
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1 Our shared goal:
        %p.prose.summary to make LA the healthiest place to
        .goalsdisplay
          {{ cms:file:play.png:image }}
        %p.prose.primary
          One of the five
          %strong LA2050 Goals
        %p.prose.summary
          Our region is a place where people of all ages have easy access to clean, safe, and sustainable venues to enjoy the natural environment, arts and cultural resources, and local beaches, waterways, and open space.

        %p.prose.summary
          In 2050, people of all ages will enjoy safe homes, safe neighborhoods, and safe places to play. Every neighborhood will provide its residents with vibrant park space, every child will have access to afterschool enrichment programs, and residents will love their neighborhoods.

.background-grey.paddedsection
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1 Metrics
        %p
          %a{ :href => "/metrics" } Where do these come from?

.background-grey.paddedsection
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1 Updates