:javascript
  $(function(){
    $('#getinvolvedlink').click(function(e){
      e.preventDefault();
      $('html, body').animate({scrollTop: $('#getinvolved').offset().top - 50}, 500);
    });

    $('#learnmorelink').click(function(e){
      e.preventDefault();
       $('html, body').animate({scrollTop: $('#learnmore').offset().top - 80}, 500);
    });
  });

#homehero
  .homehero-bg {{cms:file:homehero.jpg:image}}
  .homehero-text.animated.lightSpeedIn {{cms:file:homehero-text.svg:image}}
  .homehero-fg {{cms:file:homehero-foreground.png:image}}
  .homehero-cta
    .inlineblock
      .homehero-ctatext Together, shaping the future of Los Angeles.
      %a.button#learnmorelink{ href: '#learnmore' } Learn more
      %a.button#getinvolvedlink{ href: '#getinvolved' } Get involved

.paddedsection{ data: { parallax: 'scroll', image: { src: '{{cms:file:sunback.png}}', speed: 0.6 } } }
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %a{ id: 'learnmore' }
        %p.prose.primary.margin-bottom
          LA2050 is an initiative driving and tracking progress toward a
          %strong shared vision for the future of Los Angeles.
        %p.prose.secondary.nomargin We worked with the LA2050 community to develop five broad, aspirational goals to reach our shared vision. 


        .arrowguide
          .text-center
            .icon-arrow-cyan-down

    .row
      .col-md-10.col-md-offset-1
        .home-goals
          %p.prose.guide.text-center.margin-bottom Together,  we can make LA the best place to:
          %dl.live
            %dt Learn
            %dd Our region is a place where every resident has the opportunity and tools to engage and interact with other Angelenos, and is empowered to contribute meaningfully to civic life.


          %dl.create
            %dt Create
            %dd Our region empowers its residents to use their creativity by fostering entrepreneurship, cultural diversity, and inclusivity.


          %dl.play
            %dt Play
            %dd Our region’s residents have the economic resources and cultural capital to lead active, healthy lives, and everyone benefits from a sustainable environment.


          %dl.connect
            %dt Connect
            %dd Our region offers opportunities for lifelong learning, allowing all residents to contribute their skills, talents, and abilities to society.


          %dl.live
            %dt Live
            %dd Our region is a place where people of all ages have easy access to clean, safe, and sustainable public spaces.

.home-how.paddedsection
  .home-how-overlay
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %img.margin-bottom{ src: '{{cms:file:holdhands.png}}' }
        %p.prose.guide How we do it
        %p.prose.primary.margin-bottom
          LA2050 deploys financial, human, and social capital to build a better future--a future for Angelenos, shaped by Angelenos.
        %p.prose.secondary.margin-bottom
          We accomplish this through <a href='/reports'>research and reporting</a>, <a href='/grantees'>grantmaking</a> via the My LA2050 Grants Challenge, and <a href='/reports'>tracking progress</a> on the indicators and goals.

.background-grey.paddedsection.homegetinvolved
  .container
    .row.text-center
      .col-md-10.col-md-offset-1
        .margin-top.margin-bottom
          %a{ id: 'getinvolved' }

    .homectas
      .row
        .col-md-4.text-center.homecta
          .icon.icon-doc
          %dl
            %dt Reports
            %dd
              We conduct research and reporting to inform residents and leaders about the status of the region and the progress toward our goals.
          %a.button.magenta{ href: '/reports' } Read our reports

        .col-md-4.text-center.homecta
          .icon.icon-check
          %dl
            %dt Challenges
            %dd
              {{ cms:page:challenge_cta:text }}
          %a.button.blue{ href: '/challenge' } See our challenges

        .col-md-4.text-center.homecta
          .icon.icon-chart
          %dl
            %dt Metrics
            %dd
              We use data-backed metrics to measure whether we are on the right path to reach our goals.
          %a.button.cyan{ href: '/metrics' } View our metrics

      .row
        .col-md-4.col-md-offset-2.text-center.homecta.nomarginbottom
          .icon.icon-megaphone
          %dl
            %dt Activations
            %dd
              We also engage Angelenos by curating and hosting events, activations, and digital meet-ups. 

          %a.button.yellow{ href: '/activations' } See our activations

        .col-md-4.text-center.homecta.nomarginbottom
          .icon.icon-briefcase
          %dl
            %dt Jobs
            %dd
              {{ cms:page:jobs_cta:text }}
          %a.button.green{ href: '/jobs' } See our jobs

.sectionbreak

.background-white
  .paddedsection
    .container
      .row
        .col-md-12.text-center
          .home-biglogo.margin-top {{ cms:file:biglogo.png:image }}
          %p.prose.secondary.margin-bottom-more We are confident that with your help, we will shape the<br />LA story anew – and build the LA2050 of our dreams. 
          .home-whichway {{ cms:file:icon-whichway.png:image }}
          %p.prose.guide.margin-top.margin-bottom Get involved. Sign up for our mailing list.

          .col-md-6.col-md-offset-3.home-signup
            %input{ type: 'text', placeholder: 'Your email' }
            %button Sign up

