#homehero
  .homehero-contentwrap
    .container
      .row
        .col-md-12
          .homehero-title.margin-bottom.animated.flipInX <span>L</span>A2050
          .homehero-byline.margin-bottom Driving and tracking progress toward a <br />shared vision for the future of Los Angeles.
          %a.button.bigger.margin-right{ href: '#' } Get involved
          or
          %a.margin-left{href: '#'} Learn more about what we're doing

.background-grey.paddedsection
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %p.prose.primary
          LA2050 is a community-guided initiative to drive and track progress toward a
          %strong shared vision for the future of Los Angeles.
        %p.prose.secondary Our vision is that Los Angeles in 2050 will be the best place to learn, connect, play, create and the healthiest place to live.
        %p.prose.guide Here’s how we’ll get there:
.paddedsection
  .container
    .row.homeexplain
      .col-md-2.col-md-offset-1
        %h1 Goals
      .col-md-8
        %p We worked with Angelenos to come up with the following five goals. All LA2050 activities work in support of these five goals.
        %p.prose.guide Together, we can make Los Angeles the best place to:
    .row.homeexplain
      .col-md-2.col-md-offset-1
        %h1 Metrics
      .col-md-8
        %p
          Metrics measure whether we are on track to reach our goals.
          They're backed by data, which helps us understand what's working and what's not.
        %p.prose.guide
          For example
        %p
          Per-capita crime rate is a metric that affects whether Los Angeles is becoming a safer place to play, and truancy rate measures whether LA is a great place to learn.
    .row.homeexplain
      .col-md-2.col-md-offset-1
        %h1 Reports
      .col-md-8
        %p.margin-bottom
          We compile the information we get from the
          %a{:href => "/goals"} goals
          and
          %a{:href => "/metrics"} metrics
          into several reports which analyze the current state of human development and make informed projections about where we'll be in the year 2050. We also analyze projects submitted to the
          %a{:href => "/challenge"} My LA2050 Grants Challenge
          to highlight useful trends and patterns from the frontlines of the community. We also analyze the impact of LA2050 as an initiative.
        %button.bigger Read our reports
.background-grey.paddedsection.homegetinvolved
  .container
    .row.text-center
      .col-md-10.col-md-offset-1
        {{ cms:file:la2050logo.png:image }}
        %p.prose.secondary
          Help us reach our goals for Los Angeles.
        %p.prose.guide Get involved

    .paddedsection
      .row.homectas.margin-bottom-more
        .col-md-4.text-center
          .icon.icon-doc
          %dl
            %dt Challenge
            %dd
              {{ cms:page:challenge_cta:text }}
          %button See our challenges

        .col-md-4.text-center
          .icon.icon-briefcase
          %dl
            %dt Jobs
            %dd
              {{ cms:page:jobs_cta:text }}
          %button.green Search jobs

        .col-md-4.text-center
          .icon.icon-chart
          %dl
            %dt Metrics
            %dd
              Learn more about the numbers behind the metrics and meet Angelenos moving LA in the right direction. 
          %button.cyan Join the discussion

      .row
        .col-md-12.text-center
          %p.prose.secondary Want to contribute something different?
          %p
            <a href='#'>Tell us about it</a>

.paddedsection
  .container
    .row.homekeepupwrap
      .col-md-6
        {{ cms:file:mailinglist.jpg:image }}

      .col-md-6
        .homekeepup.borderbox
          %p.prose.guide Keep up with LA2050
          %p.prose.secondary Sign up for our mailing list
          %input{ type: 'text', placeholder: 'Your email' }
          %button Get involved