:javascript
  $(function(){
    $('#getinvolvedlink').click(function(e){
      e.preventDefault();
       $('html, body').animate({scrollTop: $('#getinvolved').offset().top - 50}, 500);
    });

    $('#learnmorelink').click(function(e){
      e.preventDefault();
       $('html, body').animate({scrollTop: $('#learnmore').offset().top - 80}, 500);
    });
  });

#homehero
  .homehero-contentwrap
    .container
      .row
        .col-md-12
          .hero-title.margin-bottom.animated.flipInX <span>L</span>A2050
          .hero-byline.margin-bottom Driving and tracking progress toward a <br />shared vision for the future of Los Angeles.
          %a#getinvolvedlink.button.bigger.margin-right{ href: '#getinvolved' } Get involved
          or
          %a#learnmorelink.margin-left{href: '#'} Learn more about what we're doing

.background-grey.paddedsection
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %a{ id: 'learnmore' }
        %p.prose.primary.margin-bottom
          LA2050 is a community-guided initiative to drive and track progress toward a
          %strong shared vision for the future of Los Angeles.
        %p.prose.secondary.nomargin Our vision is that Los Angeles in 2050 will be the best place to learn, connect, play, create and live.

        .arrowguide
          %p.prose.guide Here’s how we’ll get there:
          .text-center
            .icon-arrow-cyan-down

.background-white
  .sectionbreak
  .paddedsection
    .container
      .row.homeexplain.text-center
        .col-md-2.col-md-offset-1
          %h1 Goals
        .col-md-7.col-md-offset-1
          %p We worked with Angelenos to come up with the following five goals. All LA2050 activities work in support of these five goals.
          %p.prose.guide Together, we can make Los Angeles the best place to:
          .goalboxes
            %a.goalcolorbox.bigger.red{ href: '/goals/connect' } Connect
            %a.goalcolorbox.bigger.green{ href: '/goals/live' } Live
            %a.goalcolorbox.bigger.yellow{ href: '/goals/create' } Create
            %a.goalcolorbox.bigger.magenta{ href: '/goals/play' } Play
            %a.goalcolorbox.bigger.cyan{ href: '/goals/learn' } Learn

          .linebreak

      .row.homeexplain.text-center
        .col-md-2.col-md-offset-1
          %h1 Metrics
        .col-md-7.col-md-offset-1
          %p
            Metrics measure whether we are on track to reach our goals.
            They're backed by data, which helps us understand what's working and what's not.
          %p.prose.guide
            For example
          %p.margin-bottom
            <a href='/metrics/Per capita crime rate'>Per-capita crime rate</a> is a metric that affects whether Los Angeles is becoming a safer place to <a href='/goals/play'>play</a>, and truancy rate measures whether LA is a great place to learn.

          .metricexplainbox.margin-bottom
            .margin-bottom
              .metric
                %i.icon-chart
                Per capita crime rate
              .arrow {{ cms:file:arrow-right-black.svg:image }}
              %a.goalcolorbox.bigger.magenta{ href: 'goals/play' } Play

            %div
              .metric
                %i.icon-chart
                Truancy rate
              .arrow {{ cms:file:arrow-right-black.svg:image }}
              %a.goalcolorbox.bigger.cyan{ href: 'goals/play' } Learn

          .text-center 
            %a{ href: '/metrics' } See all the LA2050 metrics

          .linebreak

      .row.homeexplain
        .col-md-2.col-md-offset-1
          %h1 Reports
        .col-md-7.col-md-offset-1
          %p.margin-bottom
            We compile the information we get from the
            %a{:href => "/goals"} goals
            and
            %a{:href => "/metrics"} metrics
            into several reports which analyze the current state of human development and make informed projections about where we'll be in the year 2050. We also analyze projects submitted to the
            %a{:href => "/challenge"} My LA2050 Grants Challenge
            to highlight useful trends and patterns from the frontlines of the community. We also analyze the impact of LA2050 as an initiative.
          %a.button.bigger{ href: '/reports' } Read our reports

.sectionbreak

.background-grey.paddedsection.homegetinvolved
  .container
    .row.text-center
      .col-md-10.col-md-offset-1
        {{ cms:file:la2050logo.png:image }}
        .margin-top.margin-bottom
          %a{ id: 'getinvolved' }
          %p.prose.secondary
            Help us reach our goals for Los Angeles.
          %p.prose.guide.nomargin Get involved

    .row.homectas.margin-bottom-more.margin-top-more
      .col-md-4.text-center
        .icon.icon-doc
        %dl
          %dt Challenge
          %dd
            {{ cms:page:challenge_cta:text }}
        %a.button{ href: '/challenge' } See our challenges

      .col-md-4.text-center
        .icon.icon-briefcase
        %dl
          %dt Jobs
          %dd
            {{ cms:page:jobs_cta:text }}
        %a.button.green{ href: '/jobs' } Search jobs

      .col-md-4.text-center
        .icon.icon-chart
        %dl
          %dt Metrics
          %dd
            Learn more about the numbers behind the metrics and meet Angelenos moving LA in the right direction. 
        %a.button.cyan{ href: '/metrics' } Join the discussion

    .row
      .col-md-12.text-center
        %p.prose.aside Want to contribute something different?
        %p
          <a href='#'>Tell us about it</a>

.sectionbreak

.background-white
  .paddedsection
    .container
      .row.homekeepupwrap
        .col-md-6
          {{ cms:file:mailinglist.jpg:image }}

        .col-md-6
          .homekeepup.borderbox
            %p.prose.guide Keep up with LA2050
            %p.prose.secondary Sign up for our mailing list
            %input{ type: 'text', placeholder: 'Your email' }
            %button Get involved