.background-grey.paddedsection
  .container
    .row
      .col-sm-8
        %h1.margin-bottom About
        %p
          LA2050 was launched in 2011 by the
          %a{ :href => "http://goldhirshfoundation.org/about"}Goldhirsh Foundation
          to inspire an outbreak of civic activism and to develop a roadmap for the future of the Los Angeles region.

        %p
          The team includes the Goldhirsh Foundation staff and board, as well as community partners, an
          %a{ :href => "#{}"}Academic Advisory Committee,
          and advocacy advisors.

        %p
          Learn more about the community voices that shaped the development of the goals and metrics through the
          %a{ :href => "/la2050listens"}#LA2050Listens
          events in 2014.  Learn about the work of
          %a{ :href => "/grantees"}My LA2050 grantees
          to implement the goals and metrics on the ground.