%h2 Background

%p.prose.secondary
  LA2050 is a community-guided initiative driving and tracking progress toward a shared vision for the future of Los Angeles.  We achieve this through research and reporting, digital and physical events, as well as capital development.  LA2050 was launched in 2011 by the
  %a{ :href => "http://goldhirshfoundation.org/about"}Goldhirsh Foundation
  to inspire an outbreak of civic activism and to develop a roadmap for the future of the Los Angeles region.

%p.prose.secondary
  The team includes the Goldhirsh Foundation staff and board, as well as community partners,  academic advisors, and advocacy advisors.

%h2 Vision

%p.prose.secondary
  We believe in the power of Angelenos to shape the future of our region. We aim to ignite the creativity and passion of Angelenos to make LA's story one of hope for all. If we don’t like what the projections are saying about our future, then we as citizens, organizations, stakeholders, and policymakers can work together toward a more successful Los Angeles – one that empowers us and takes full advantage of the potential our region holds. Please join us.

%h2 How It Works

%p.prose.secondary
  LA2050 deploys financial, human, and social capital to drive progress toward the five goals. LA2050 makes investments of financial capital to make progress on the metrics. Human capital is deployed through partnerships to test more strategies, bring success to scale, and bring people and solutions together. Social capital is utilized through community events and digital activations that engage the public, promote equity, and engage Angelenos through storytelling.

%p.prose.secondary
  In the few short years since we began this journey together, the LA2050 community has converged around the optimism, opportunity, and practical steps to make Los Angeles an even more amazing region in years ahead. The development of a shared vision around five inspiring goals, the submission of more than five hundred ideas to put that vision into action on the ground, and the early indication of progress on several key metrics make us hopeful. we look forward to accelerating impact, ensuring that progress is broadly shared, and celebrating the better los angeles that we are creating together.

%p.prose.secondary
  Learn more about the community voices that shaped the development of the goals and metrics through the
  %a{ :href => "/la2050listens"}#LA2050Listens
  events in 2014.  Learn about the work of
  %a{ :href => "/grantees"}My LA2050 grantees
  to implement the goals and metrics on the ground.