%p.prose.summary
  Our region empowers its residents to harness their creativity by fostering entrepreneurship, cultural diversity, and inclusivity.

%p.prose.summary
  In 2050, Los Angeles will continue to play host to the largest concentration of working artists in the nation and provide support to maintain (and build) its robust collection of arts establishments. It will lead the nation in manufacturing and become an international leader in technology and innovation. Our region will be a center for entrepreneurial activity that creates jobs and generates wealth for a diverse, flexible, and talented workforce. LA’s business community will reflect the diversity of our region, enhancing our international business opportunities.