.background-white
  .greaterinitiative
    .container
      .row
        .col-md-12
          .greaterinitiative-slashes.hidden-xs //
          %dl
            %dt The LA2050 Jobs board is part of the greater <a href='/'>LA2050 initiative</a>
            %dd We’re working to move Los Angeles toward the LA2050 goals

  .container
    .row
      .col-lg-8
        %h1.margin-bottom Jobs
        %p The LA2050 jobs board provides opportunities to work with grantees, partners, and community leaders who are helping to create a better future for Los Angeles.


  .linenav-wrap.margin-top
    .container
      .row
        .col-md-12
          %ul.linenav
            %li.selected Find a job
            %li= "|"
            %li
              %a{ href: '/jobs/submit' } Submit a job

  .container
    .row
      {{cms:partial:goals/goalfilters}}

    .row
      .col-md-12
        %table.margin-top.margin-bottom
          %thead
            %th Position
            %th Organization
            %th Employment type
            %th Date posted

          {{ cms:partial:jobs/jobs }}