%html
  %head
  %body
    {{ cms:partial:nav }}
          
    {{ cms:page:content }}
    
    .sectionbreak
    %footer
      .container
        .row
          .col-sm-4
            .footer-la2050
              %h1 LA2050
              %div with support from the
              %a.footer-goldhirsh{ href: 'http://pinterest.com/la2050', target: '_blank' }

          .col-sm-3
            .footer-sectionheader Connect

            .footer-social
              %a.footer-facebook{ href: 'http://facebook.com/la2050', target: '_blank' }
              %a.footer-twitter{ href: 'http://twitter.com/la2050', target: '_blank' }
              %a.footer-instagram{ href: 'http://instagram.com/la2050', target: '_blank' }
              %a.footer-pinterest{ href: 'http://pinterest.com/la2050', target: '_blank' }

          .col-sm-5
            .footer-sectionheader Newsletter signup
            .footer-newslettersignup
              %input{type: 'email', placeholder: 'Your email'}
              %input.button{type: 'submit', value: 'Sign up'}
