%html
  %head
  %body
    .container-fluid
      .row.nav-wrap
        .col-sm-4
          %a#nav-homelink{:href => "#"} LA2050
        %nav.col-sm-8.text-right
          %a.selected{:href => "#"} About
          %span |
          %a{:href => "#"} Challenge
          %a{:href => "#"} Jobs
          %a{:href => "#"} Dashboard
    {{ cms:page:content }}

    %footer
      .container
        .row.margin-bottom
          .col-md-12
            %h1 LA2050

        .row
          .col-md-3
            .borderbox.padded
              %ul
                %li
                  %a{href: '#'} Challenge
                %li
                  %a{href: '#'} Jobs
                %li
                  %a{href: '#'} Dashboard
                  %ul
                    %li
                      %a{href: '#'} Goals
                    %li
                      %a{href: '#'} Metrics
                    %li
                      %a{href: '#'} Reports
