%html
  %head
  %body
    {{ cms:partial:nav }}
          
    {{ cms:page:content }}
    
    .sectionbreak
    %footer
      .container
        .row.margin-bottom
          .col-md-12
            %h1 LA2050

        .row
          .col-md-3
            .borderbox.padded.margin-bottom
              %ul
                %li
                  %a{href: '/challenge'} Challenge
                %li
                  %a{href: '/jobs'} Jobs
                %li
                  %a{href: '/dashboard'} Dashboard
                  %ul
                    %li
                      %a{href: '/goals'} Goals
                    %li
                      %a{href: '/metrics'} Metrics
                    %li
                      %a{href: '/reports'} Reports
          .col-md-8.col-md-offset-1
            .footer-sectionheader Connect

            .footer-social
              %a.footer-facebook{ href: 'http://facebook.com/la2050', target: '_blank' }
              %a.footer-twitter{ href: 'http://twitter.com/la2050', target: '_blank' }

            .footer-sectionheader Newsletter signup
            .footer-newslettersignup
              %input{type: 'email', placeholder: 'Your email'}
              %input.button{type: 'submit', value: 'Sign up'}
