%html
  %head
  %body
    .container-fluid
      .row.nav-wrap
        .col-sm-4
          %a#nav-homelink{:href => "/"} LA2050
        %nav.col-sm-8.text-right
          %a.selected{:href => "#"} About
          %span |
          %a{:href => "#"} Challenge
          %a{:href => "#"} Jobs
          %a{:href => "#"} Dashboard
    {{ cms:page:content }}

    %footer
      .container
        .row.margin-bottom
          .col-md-12
            %h1 LA2050

        .row
          .col-md-3
            .borderbox.padded
              %ul
                %li
                  %a{href: '/challenge'} Challenge
                %li
                  %a{href: '/jobs'} Jobs
                %li
                  %a{href: '/dashboard'} Dashboard
                  %ul
                    %li
                      %a{href: '/goals'} Goals
                    %li
                      %a{href: '/metrics'} Metrics
                    %li
                      %a{href: '/reports'} Reports
