/*
  Theme colors
  Dark: #333;
  Medium: #ccc;
  Light: #f9f9f9;

  Cyan: #00b3bc;
  Magenta: #f13585;
  Green: #8bd22c;
  Purple: #a869aa;
  Blue: #4d99d3;
  Yellow: #fdc100;
  Red: #ed3f21;
*/


/* Base styles */

a {
  color:#f13585;
}

a:hover {
  text-decoration:underline;
  color:inherit;
}

body {
  font-size:18px;
  font-family:'Avenir Next';
  color:rgba(0, 0, 0, 0.87);
  background-color:#f9f9f9;
}

button, .button {
  display:inline-block;
  background-color:#f13585;
  color:#fff;
  height:3em;
  line-height:3em;
  border:none;
  padding:0 2em;
  font-size:14px;
  text-transform:uppercase;
  font-weight:bold;
  border-radius:1px;
}

button:hover, a.button:hover {
  background-color:#F74993;
  text-decoration:none;
}

button.bigger, .button.bigger {
  height:4em;
  line-height:4em;
  padding:0 3em;
  font-size:18px;
}

.button.green {
  background-color:#8bd22c;
}

.button.cyan {
  background-color:#00b3bc;
}

dl {

}

dt {
  margin-bottom:1em;
}

dd {
  color:rgba(0, 0, 0, 0.54);
}

h1, h2, h3 {
  font-weight:bold;
  padding-bottom:.1em;
  display:inline-block;
}

h1 a, h2 a, h3 a {
  color:rgba(0, 0, 0, 0.87);
}

h1 {
  font-size:36px;
  border-bottom:2px solid rgba(0, 0, 0, 0.87);
}

h2 {
  font-size:30px;
  border-bottom:2px solid rgba(0, 0, 0, 0.87);
}

h3 {
  font-size:18px;
  line-height:24px;
}

h1:first-child {
  margin-top:0;
}

input[type=text], input[type=password], input[type=email] {
  font-style:'Avenir Next';
  height:2.66em;
  line-height:2.66em;
  padding:0 1em;
  display:block;
  width:100%;
  margin-bottom:1em;
  outline:none;
  background-color:#f9f9f9;
  border:none;
  box-sizing:border-box;
}

p {
  font-size:18px;
  margin-bottom:1em;
  line-height:27px;
  color:rgba(0, 0, 0, 0.87);
}

p.light {
  color:rgba(0, 0, 0, 0.54);
}

p.prose.primary {
  font-size:24px;
  line-height:36px;
  color:rgba(0, 0, 0, 0.87);
}

p.prose.primary strong {
  font-weight:bold;
  color:#00b3bc;
}

p.prose.secondary {
  color:rgba(0, 0, 0, 0.54);
  font-size:18px;
  line-height:27px;
}

p.prose.guide {
  color:rgba(0, 0, 0, 0.87);
  font-size:18px;
  font-weight:bold;
}

p.prose.summary {
  font-size:24px;
  color:rgba(0, 0, 0, 0.54);
  line-height: 36px;
}

p.prose.aside {
  color:rgba(0, 0, 0, 0.54);
  font-size:14px;
}

p:last-child {
  margin-bottom:0;
}

table {
  width:100%;
  border-collapse:collapse;
}

th {
  font-size:12px;
  font-weight:bold;
  text-transform:uppercase;
  border-bottom:3px solid #333;
  padding-bottom:1em;
}

td {
  height:5em;
  vertical-align:middle;
  border-bottom:1px solid #ccc;
}

tr:last-child td {
  border:none;
}

ul {
  list-style:none;
  padding-left:0;
  margin-bottom:0;
}

li {
}

/* End base styles */

.navpadding {
  height:65px; 
  width:100%;
}

.nav-wrap {
  height:65px;
  line-height:65px;
  background-color:#fff;
  z-index:10;
  position:absolute;
  width:100%;
  top:0;
}

.nav-wrap.home {
  border:none;
  background:none;
  position:absolute;
  top:0;
  width:100%;
}

.nav-wrap.home #nav-homelink {
  color:#fff;
}

.nav-wrap.will-be-scrolled {
  position:fixed;
  height:100px;
  line-height:150px;
  top:-100px;
  width:100%;
}

.nav-wrap.scrolled {
  position:fixed;
  top:-50px;
  /*border-bottom:3px solid #f9f9f9;*/
  background-color:#fff;
  box-shadow:0 0 5px 0 rgba(0, 0, 0, .2);
  transition:top .3s cubic-bezier(0.125, 0.370, 0.365, 1.650);
  width:100%;
}

.nav-wrap.scrolled #nav-homelink {
  color:rgba(0, 0, 0, 0.87);;
}

.nav-wrap.home nav a {
  color:rgba(0, 0, 0, 0.54);
}

.nav-wrap.home.scrolled nav a.selected {
  color:#00b3bc;
}

.nav-wrap.home nav a.selected {
  color:#fff;
}

nav {
  color:rgba(0, 0, 0, 0.3);
}

nav span {
  margin-left:2em;
}

nav a {
  color:rgba(0, 0, 0, 0.3);
  text-decoration:none;
  margin-left:2em;
  padding-bottom:14px;
  padding-left:2px;
  padding-right:2px;
  font-size:18px;
  position:relative;
}

nav a.selected {
  color:#00b3bc;
  font-weight:bold;
}

nav a:hover {
  color:#00b3bc;
  font-weight:bold;
  text-decoration:none;
}

#nav-homelink {
  font-size:24px;
  color:#333;
  font-weight:bold;
}


/* Helpers */

.background-white {
  background-color:#fff;
}

.background-grey {
  background-color:#fafafa;
}

.background-green {
  background-color:rgba(139, 210, 44, 0);
}

.paddedsection {
  padding-top:7em;
  padding-bottom:7em;
}

.margin-bottom {
  margin-bottom:36px;
}

.margin-right {
  margin-right:36px;
}

.margin-left {
  margin-left:36px;
}

.margin-bottom-more {
  margin-bottom:5em;
}

.margin-top {
  margin-top:2em;
}

.margin-top-more {
  margin-top:5em;
}

.nomargin {
  margin:0;
}

.padded {
  padding:1em;
}

.borderbox {
  border:3px solid rgba(0, 0, 0, 0.87);
}

.linebreak {
  width:100%;
  border-bottom:1px solid #999;
}

.sectionbreak {
  width:100%;
  border:2px solid rgba(0, 0, 0, 0.1);
}

/* Modules */

.arrowguide {
  margin:5em 0 0 0;
}

.arrowguide p {
  margin-bottom:2em;
}

.homehero-contentwrap {
  position:absolute;
  font-size:24px;
  color:rgba(255, 255, 255, 0.95);
  height:292px;
  top:50%;
  margin-top:-146px;
  width:100%;
}

.hero-title {
  margin-left:-5px;
  font-size:121px;
  line-height:80px;
  color:rgba(255, 255, 255, 0.95);
  font-weight:bold;
}

.hero-title span {
  margin-right:10px;
}

.hero-byline {
  text-shadow:0 0 3px rgba(0, 0, 0, .2);
  font-weight:bold;
  font-size:24px;
  color:rgba(255, 255, 255, 0.95);
}

.hero-info {
  text-shadow:0 0 3px rgba(0, 0, 0, .2);
  color:rgba(255, 255, 255, 0.95);
  font-style:italic;
  font-size:24px;
}

.homeexplain {
  margin-bottom:5em;
}

.homeexplain .linebreak {
  margin-top:3em;
}

.homeexplain:last-child {
  margin-bottom:0;
}

.homeexplain p.prose.guide {
  margin-top:3em;
  margin-bottom:2em;
}

.homeexplain button {
  width:100%;
}

.homegetinvolved img {
  width:100%;
  margin-bottom:5em;
}

.homekeepupwrap img {
  height:350px;
}

.homekeepup {
  height:350px;
  padding:1em;
  display:inline-block;
  vertical-align:middle;
  width:100%;
}

.icon {
  width:1em;
  height:1em;
  display:inline-block;
  position:relative;
}

.icon.title {
  width:39px;
  height:39px;
  margin-right:1.5em;
  bottom:-12px;
}

.homectas .icon {
  height:50px;
  width:100%;
  margin-bottom:2em;
}

.homectas dl {
  margin-bottom:2em;
}

.metricexplainbox {
  border:3px solid #333;
  text-align:center;
  padding:2em;
}

.metricexplainbox .arrow {
  width:55px;
  height:16px;
  display:inline-block;
  margin:0 3em;
}

.greaterinitiative {
  font-size:14px;
  background-color:#f9f9f9;
  padding:.5em;
  border-top:1px solid #ccc;
  border-bottom:2px dashed #ccc;
  margin-bottom:5em;
}

.greaterinitiative dl {
  display:inline-block;
  margin-bottom:0;
  margin-left:1em;
}

.greaterinitiative dl dt {
  font-weight:bold;
  margin-bottom:0;
}

.greaterinitiative dl dd {
  color:rgba(0, 0, 0, .54);
}

.greaterinitiative-slashes {
  color:#f13585;
  font-size:42px;
  display:inline-block;
  font-weight:bold;
}

.goalsdisplay img {
  width:100%;
  margin:2em 0;
}

.goalsdisplay-playback {
  background-color: #fa99c0;
}

.goalsdisplay-connectback {
  background-color: #fcbd7b;
}

.goalsdisplay-liveback {
  background-color: #afd886;
}

.goalsdisplay-learnback {
  background-color: #44cbcf;
}

.goalsdisplay-createback {
  background-color: #fde069;
}

.linenav-wrap {
  border-bottom:1px solid #ccc;
  position:relative;
}

ul.linenav {
  font-size:18px;
  color:rgba(0, 0, 0, .54);
  position:relative;
  bottom:-1px;
}

.linenav li {
  display:inline-block;
  margin-right:1.5em;
  position:relative;
}

.linenav li.selected {
  font-weight:bold;
  color:#a869aa;
  border-bottom:3px solid #a869aa;
  padding-bottom:11px;
}

.linenav li:hover a {
  border-bottom:3px solid #a869aa;
  color:#a869aa;
  text-decoration:none;
  padding-bottom:11px;
}

.linenav li a {
  display:inline-block;
  padding-bottom:14px;
  color:rgba(0, 0, 0, .54);
}

.granteeshero {
  padding-top:3em;
}

.granteeshero h1 {
  margin-bottom:36px;
}

.granteeshero p {
  margin-bottom:36px;
}

.granteeshero .linebreak {
  margin:3em 0 0 0;
}

.previouswinners {
  padding:3em 0 5em 0;
}

.featuredwinners-image {
  width:100%;
}

.featuredwinners-image, .featuredwinners .borderbox {
  height:445px;
}

.featuredwinners .borderbox {
  margin-bottom:1em;
}

.featuredwinners-winnermeta {
  margin-bottom:1em;
}

.featuredwinners-winner {
  margin-bottom:4em;
}

.featuredwinners-image {
  margin-bottom:1em;
}

.winnerlabel {
  color:#4d99d3;
  text-transform:uppercase;
  font-weight:bold;
  font-size:12px;
  display:inline-block;
  margin-left:1em;
}

.winnerlabel img {
  display:inline-block;
  vertical-align:inherit;
  width:1em;
  height:1em;
}

.winnersmall-photo {
  width:100%;
}

.winnersmall-meta {
  margin-bottom:1em;
}

.winnersmall-meta .winnerlabel {
  float:right;
  line-height:24px;
}

.goalcolorbox {
  padding:2px 10px;
  display:inline-block;
  font-size:14px;
  font-weight:bold;
  border-width:3px;
  border-style:solid;
  text-transform:uppercase;
  margin-right:.5em;
}

.goalcolorbox.bigger {
  font-size:24px;
}

.goalcolorbox.red {
  border-color:#ed3f21;
  color:#ed3f21;
}

.goalcolorbox.green {
  border-color:#8bd22c;
  color:#8bd22c;
}

.goalcolorbox.yellow {
  border-color:#fdc100;
  color:#fdc100;
}

.goalcolorbox.magenta {
  border-color:#f13585;
  color:#f13585;
}


.goalcolorbox.cyan {
  border-color:#00b3bc;
  color:#00b3bc;
}

.metric {
  color:#00b3bc;
  display:inline-block;
}

.metric .icon-chart {
  position:relative;
  width:1em;
  height:1em;
  bottom:2px;
  margin-right:5px;
}

#challengehero {
  height:500px;
  background-size:cover;
  margin-top:.5em;
  position:relative;
}

.challengehero-contentwrap {
  position:relative;
  color:#fff;
  transform:translateY(-50%);
  top:50%;
}

.challengehero-contentwrap .hero-title {
  position:relative;
  font-size:72px;
  text-shadow:0 0 3px rgba(0, 0, 0, .2);
  margin-bottom:18px;
}

.challengehero-contentwrap .linebreak {
  border-color:rgba(255, 255, 255, 0.5);
  margin:2em 0;
}

footer {
  background-color:#f9f9f9;
  padding:7em 0;
  font-size:18px;
}

footer a {
  color:rgba(0, 0, 0, 0.87);
}

footer ul {
  font-weight:bold;
}

footer ul > li {
  margin-bottom:.5em;
}

footer ul > li > ul {
  margin-top:1em;
}

footer ul > li > ul > li {
  font-weight:normal;
  margin-left:1em;
}

.footer-sectionheader {
  margin-bottom:1em;
}

.footer-social {
  margin-bottom:3em;
}

.footer-newslettersignup input[type=email] {
  display:inline-block;
  max-width:60%;
  border:3px solid #333;
  vertical-align:top;
}

.footer-newslettersignup input[type=submit] {
  height:47px;
  vertical-align:top;
  position:relative;
}


.footer-social > div {
  margin-right:1em;
}