/*
  Theme colors
  Dark: #333;
  Light: #f9f9f9;

  Cyan: #00b3bc;
  Magenta: #f13585;
*/


/* Base styles */

a {
  color:#f13585;
}

body {
  font-size:18px;
  font-family:'Avenir Next';
  color:rgba(0, 0, 0, 0.87);
}

button {
  background-color:#f13585;
  color:#fff;
  height:3em;
  line-height:3em;
  border:none;
  padding:0 2em;
  font-size:14px;
  text-transform:uppercase;
  font-weight:bold;
}

button.bigger {
  height:4em;
  line-height:4em;
  padding:0 2em;
  font-size:18px;
}

dl {

}

dt {
  margin-bottom:1em;
}

dd {
  color:rgba(0, 0, 0, 0.54);
}

h1 {
  font-size:36px;
  font-weight:bold;
  padding-bottom:.1em;
  border-bottom:2px solid rgba(0, 0, 0, 0.87);
  display:inline-block;
}

h1:first-child {
  margin-top:0;
}

input {
  font-style:'Avenir Next';
  height:3em;
  line-height:3em;
  padding:0 1em;
  display:block;
  width:100%;
  margin-bottom:1em;
  outline:none;
  background-color:#f9f9f9;
  border:none;
}

p {
  font-size:18px;
  margin-bottom:1em;
}

p.prose.primary {
  font-size:24px;
}

p.prose.primary strong {
  font-weight:bold;
  color:#00b3bc;
}

p.prose.secondary {
  color:rgba(0, 0, 0, 0.54);
  font-size:18px;
}

p.prose.guide {
  color:rgba(0, 0, 0, 0.87);
  font-size:18px;
  font-weight:bold;
}

/* End base styles */

.nav-wrap {
  height:40px;
  line-height:40px;
  border-bottom:3px solid #f9f9f9;
}

nav {
  color:rgba(0, 0, 0, 0.3);
}

nav span {
  margin-left:2em;
}

nav a {
  color:rgba(0, 0, 0, 0.3);
  text-decoration:none;
  margin-left:2em;
  padding-bottom:8px;
  padding-left:2px;
  padding-right:2px;
}

nav a.selected {
  color:#00b3bc;
  font-weight:bold;
  border-bottom: 3px solid #00b3bc;
}

nav a:hover {
  color:#00b3bc;
  font-weight:bold;
  border-bottom: 3px solid #00b3bc;
  text-decoration:none;
}

#nav-homelink {
  font-size:18px;
  color:#333;
  font-weight:bold;
}

.background-grey {
  background-color:#fafafa;
}

.paddedsection {
  padding:5em 0;
}

/* Helpers */

.margin-bottom {
  margin-bottom:2em;
}

/* Modules */

.homeexplain {
  margin-bottom:5em;
}

.homeexplain button {
  width:100%;
}

.homegetinvolved img {
  width:100%;
  margin-bottom:5em;
}

.homekeepupwrap img {
  height:300px;
}

.homekeepup {
  height:300px;
  padding:1em;
  display:inline-block;
  vertical-align:middle;
  width:100%;
  border:3px solid rgba(0, 0, 0, 0.87);
}