body {
  font-size:14px;
  font-family:'Avenir Next';
  color:#333;
}

nav a {
  color:rgba(0, 0, 0, 0.3);
  text-decoration:none;
  margin-left:2em;
}

#nav-homelink {
  font-size:18px;
  color:#333;
  font-weight:bold;
}

