%p June 24, 2015
%p 
  %a{ :href => "http://www.routefifty.com/2015/06/los-angeles-transportation-technology-advisor/116233/"} L.A. City Hall Seeks to Fill Special Position on Transportation Technology, Route 50
%p Route 50's Neil Ungerleider checked in with Goldhirsh Foundation's President, Tara Roth, to discuss the foundation's investment in the City of Los Angeles' Department of Transportation Technology Advisor.

%p June 15, 2015
%p
  %a{ :href => "http://www.google.com/url?q=http%3A%2F%2Fwww.bizbash.com%2Fhow-outdoor-civic-venues-are-being-adapted-for-events%2Fnew-york%2Fstory%2F30559%2F%23.VX9bzorF_gG&sa=D&sntz=1&usg=AFQjCNH2tG97IJ6XssuNL-2OH2moL-X9tA"}How Outdoor Civic Venues Are Being Adapted for Events, Goldhirsh Foundation's LA2050 Event at Grand Park as a Case Study
%p Forward-thinking cities are building event-friendly amenities into outdoor space at public venues.

%p May 13, 2015
%p
  %a{ :href => "http://www.ladowntownnews.com/news/pershing-square-playgrounds-break-ground/article_d736d534-f985-11e4-b023-c7c0013aa975.html"}LA Downtown News: Pershing Square Playgrounds Break Ground
%p Representatives from the city Department of Recreation and Parks, the Pershing Square Park Advisory Board and the Goldhirsh Foundation’s LA2050 Campaign joined LA City Councilman Jose Huizar to commemorate the groundbreaking of two new children’s playgrounds.

%p May 7, 2015
%p
  %a{:href => "http://www.fastcompany.com/3046055/tech-forecast/las-mayor-garcetti-were-hiring-a-ride-share-and-autonomous-car-advisor"}Goldhirsh Foundation supported LADOT Fellowship featured in Fast Company
%p Los Angeles, the city that is synonymous with car culture, is getting a citywide advisor on autonomous vehicles, rideshares, and bicycles. The new position at Los Angeles's Department of Transportation will be a year-long fellowship made possible by a grant from the Goldhirsh Foundation.

%p April 30, 2015
%p
  %a{:href => "http://www.scpr.org/news/2015/04/30/50927/groups-work-to-turn-south-la-lots-into-children-s/"}Groups work to turn South LA lots into children's playgrounds
%p LA2050 grantees Trust for Public Land and Community Health Council's LA Open Acres are featured in this story on KPCC.

%p April 30, 2015
%p
  %a{:href => "https://twitter.com/TwitterDev/status/593829705431658496"}Twitter makes a stop at Incubator School, an LA2050 grantee
%p #TwitterDrive makes a stop at LA2050 grantee Incubator School in LA, a school dedicated to fostering tomorrow's entrepreneurs.

%p April 13, 2015
%p
  %a{:href => "http://www.latimes.com/local/california/la-me-adv-water-use-compared-20150413-story.html"}L.A. saving water but still has a long way to go, Los Angeles Times
%p UCLA institute gives Los Angeles County a 'C' for its management of water supply and water quality, and researchers find that L.A. County's potable water use is still almost twice as high as average European city.

%p April 8, 2015
%p
  %a{:href => "http://la.suntimes.com/la-news/7/88/204830/ucla-gives-los-angeles-countys-environment-c-grade/"}UCLA gives Los Angeles County's environment C+ grade, Los Angeles Sun Times
%p “UCLA’s report card fills a gap in what we know about the county,” said Tara Roth, president of the Goldhirsh Foundation. “It gives the public and policymakers evidence of where improvement is needed, as well as a framework to talk about it. Our hope is that it leads to broader decision-making and policies to improve the county as a whole, not just one community at a time.”

%p April 7, 2015
%p
  %a{:href => "http://s3.amazonaws.com/TVEyesMediaCenter/UserContent/176470/4727465.5429/RADKCRW_04-07-2015_06.30.25.mp3"}UCLA's Institute of the Environment and Sustainability's Environmental Report Card, KCRW
%p Tune in to learn more about UCLA's Institute of the Environment and Sustainability's Environmental Report Card for the LA region.

%p April 7, 2015
%p
  %a{ :href => "http://s3.amazonaws.com/TVEyesMediaCenter/UserContent/268171/4727436.6942/KTTV_04-07-2015_08.05.25.mp4"}UCLA's Environmental Report Card, Good Day LA
%p Coverage of UCLA IoES' Environmental Report Card for LA County.

%p April 7, 2015
%p
  %a{:href => "http://www.google.com/url?q=http%3A%2F%2Flabusinessjournal.com%2Fnews%2F2015%2Fapr%2F07%2Fbriefs-ucla-study-rates-l-c-lions-gates-largest-sh%2F&sa=D&sntz=1&usg=AFQjCNGkxoSgPNmNCeagfgnuYE12MKpbrg"}UCLA Study Rates L.A. a C+, Los Angeles Business Journal
%p Los Angeles County has work to do when it comes to the environment, according to a UCLA study released on Tuesday that rates the county’s environmental performance as a C+. Read the coverage on LABJ.

%p April 7, 2015
%p
  %a{:href => "http://www.scpr.org/news/2015/04/07/50831/la-county-gets-a-c-on-the-environment/"}LA's environment report card shows average results, KPCC
%p The Goldhirsh Foundation and LA2050 were proud to partner on Los Angeles' first environmental report card is out. Listen to the interview with Mark Gold on KPCC.

%p March 3, 2015
%p
  %a{:href => "http://www.scpr.org/news/2015/03/03/50134/las-plan-for-50-new-parks-is-more-than-halfway-the/"}LA is more than halfway to its goal of 50 new, small parks, KPCC featuring Trust for the Public Land
%p Since 2012, when officials announced a plan to build 50 new, mostly small parks in some of L.A.’s most crowded neighborhoods, the city has completed 29. They are partnering with nonprofits like the L.A. Neighborhood Land Trust and the Trust for Public Land to build the parks and in some cases maintain them for several years before the city takes over.

%p January 14, 2015
%p
  %a{:href => "http://www.lamag.com/citythinkblog/angeleno-got-ciclavia-rolling-doesnt-just-produce-festivals-aims-reshape-l/"}The Angeleno Who Got CicLAvia Rolling Doesn’t Just Produce Festivals; He Aims to Reshape L.A., featuring Aaron Paley
%p A rare in-depth interview with the founder of Goldhirsh Foundation grantee Ciclavia's Aaron Paley.

%p January 8, 2015
%p
  %a{:href => "http://www.theguardian.com/teacher-network/gallery/2015/jan/08/school-libraries-world-books-gallery"}Inspirational school libraries from around the world, Locke High School
%p From a story garden in Cornwall to hexagonal towers in Los Angeles, The Guardian looks at inventive spaces designed to get children excited about books. Featuring LA2050 grantee No Right Brain Left Behind's Locke Jet Space at Locke High School.

%p January 7, 2015
%p
  %a{:href => "http://www.scpr.org/news/2015/01/07/49115/turning-taggers-into-entrepreneurs/"}How do you turn a tagger into an entrepreneur?, Streetcraft L.A., KPCC
%p Bobby Rodriguez used to do illegal graffiti all over Southern California. With the help of Streetcraft L.A., he now gets legal work, like this mural on the Santa Monica pier.

%p January 22, 2015
%p
  %a{:href => "http://www.kcrw.com/news-culture/shows/which-way-la/moving-la-toward-water-independence"}Moving LA toward Water Independence
Goldhirsh Foundation grantee UCLA IoES speaks to KCRW about the future of water.

%p November 20, 2014
%p
  %a{:href => "http://www.fastcoexist.com/3038765/fast-cities/the-smartest-cities-in-the-world"}The Smartest Cities In The World, Fast Company
%p These cities that are doing the best at embracing the future are focusing on improving technology, equality, sharing, civic participation, and more. LA2050 compiled the data for Los Angeles.

%p November 4, 2014
%p
  %a{:href => "http://nextcity.org/daily/entry/alley-makeover-green-alleys-los-angeles"}Making Alleys a Place for Play, Next City
%p If the Trust for Public Land LA2050 project is scaled, it could have a substantial impact on Los Angeles' urban fabric and 900 miles of alleys.

%p October 10, 2014
%p
  %a{:href => "http://www.kcet.org/socal/departures/columns/la-letters/celebrate-la-from-luis-rodriguez-to-the-san-gabriels.html"}Celebrate L.A. from Luis Rodriguez to the San Gabriels, KCET
%a LA2050 organized an epic party celebrating the city in Grand Park. This week L.A. Letters spotlights each of these people and events to reveal the rising spirit across Los Angeles in October 2014.

%p October 21, 2014
%p
  %a{:href => "http://www.larchmontbuzz.com/larchmont-village-people/windsor-square-s-tara-roth-behind-la2050/"}Windsor Square's Tara Roth Behind LA2050, Larchmont Buzz
%p Suddenly this fall, it seemed the LA2050 Challenge was everywhere. We were sent emails and stopped on the street – vote for a project that will better life in LA. Given one vote and so many potentially great projects, it was hard to understand where this was all coming from. Who was behind LA2050?

%p October 8, 2014
%p
  %a{:href=>"http://blogs.kcrw.com/dna/l-a-designer-la2050s-tara-roth-talks-about-crowdsourcing-civic-improvement"}L.A. Designer: LA2050′s Tara Roth Talks about Crowdsourcing Civic Improvement, KCRW DNA
%p There was a time when cities were largely shaped by powerful planners and politicians, developers and philanthropists. Now increasingly the wisdom of the crowds is being tapped, through crowdsourcing initiatives made widely accessible through the internet.

%p September 30, 2014
%p
  %a{:href => "http://www.citylab.com/design/2014/09/young-la-is-the-real-winner-of-la2050/380948/"}Young L.A. Is the Real Winner of LA2050, CityLab
%p Today, the foundation behind LA2050—an initiative to draft a comprehensive road map for the city's future—announced the winners of this year's My LA2050 Grants Challenge, a funding competition with a difference: The public got to choose five of the 10 winners, who will share a $1 million bounty.

%p September 26, 2014
%p
  %a{:href => "http://www.theatlantic.com/live/articles/2014/09/you-asked-citylab2014/380767/"}You Asked, They Answered L.A. leaders and city activists answer virtual questions at LA2050 and The Atlantic's Twitter party online, The Atlantic
%p LA2050 and The Atlantic hosted a virtual Twitter party to kickoff the conversation about discovering urban solutions to global problems taking place at this year's CityLab event.

%p September 16, 2014
%p
  %a{:href => "http://www.lamag.com/lawomanarticle/tara-roth/"}Tara Roth Could Make L.A.’s Dreams Come True, LA Woman of the Year, LA Magazine
%p The president of Goldhirsh Foundation launched LA2050, a civic advocacy program that invests in the future of L.A.

%p September 2, 2014
%p
  %a{:href => "http://www.hollywoodreporter.com/news/la2050-opens-online-voting-2014-729662"}LA2050 Opens Online Voting for 2014 Grants Challenge, The Hollywood Reporter
%p LA2050 — an initiative backed by the Goldhirsh Foundation — has opened online voting for its 2014 Grants Challenge, which will see a total of $1 million doled out and distributed evenly among 10 winning submissions.

%p May 2014
%p
  %a{:href => "http://www.smartbusinessemag.com/may2014/LosAngeles/0/0#&pageSet=7&contentItem=0"}The best and brightest of Los Angeles are hard at work planning the city's future, Smart Business Magazine
%p LA2050 is an initiative to create a shared vision for the future of Los Angeles, and to drive and track progress toward that vision.

%p April 28, 2014
%p
  %a{:href => "http://www.latimes.com/local/la-me-macarthur-park-20140428-story.html"}#LA2050Listens, LA Commons, Community art project to offer ideas on how to improve MacArthur Park, Los Angeles Times
%p The #LA2050Listens event, called Story Summit, was organized by L.A. Commons, a community program that uses art to give a voice to underrepresented areas. This particular gathering featured Aztec dancers, arts and crafts workshops and free tamales.

%p March 13, 2014
%p
  %a{:href => "http://www.psfk.com/2014/03/los-angeles-crowdsourcing-social-good.html?utm_source=Sailthru&utm_medium=email&utm_term=daily&utm_campaign=Daily%202014-03-13#!zyo0B"}How a city created a roadmap to a brighter future, PSFK
%p In 2013, the Goldhirsh Foundation launched LA2050, an initiative to create a shared vision for the future of Los Angeles, and to drive and track progress toward that vision. LA2050 looked at the health of the region through eight key indicators and made informed projections about where Los Angeles would be in the year 2050 if the city continued operate and the people continued to live as they are now.

%p March 12, 2014
%p
  %a{:href => "http://blogs.kcrw.com/whichwayla/2014/03/a-brighter-vision-of-las-future"}A brighter vision of LA’s future, KCRW
%p A new report that looks farther into LA’s future says there is unlimited potential in LA that needs to be “unleashed.”

%p March 12, 2014
%p
  %a{:href => "http://www.lamag.com/citythink/citythinkblog/2014/03/12/la2020-v-la2050-the-battle-over-las-future"}LA2020 v. LA2050: The Battle Over L.A.’s Future, Los Angeles Magazine
%p Run by the Goldhirsh foundation, LA2050’s hope is to create a shared vision of L.A.’s future by fostering a collaborative climate among Angelenos.

%p March 4, 2014
%p
  %a{:href => "http://www.scpr.org/programs/take-two/2014/03/04/36298/what-la-s-future-could-be-if-money-and-politics-we/"}What LA's future could be if money and politics weren't issues, KPCC
%p From small ideas to big, a look now at what a vision for LA's own future could look like with Tara Roth, president of the Goldhirsh Foundation.

%p December 20, 2013
%p
  %a{:href => "http://www.psfk.com/2013/12/los-angeles-innovation.html#!ql6IG"}A Field Guide To Innovation In Los Angeles, PSFK
%p In L.A. innovating means providing a better quality of life for the city’s inhabitants across public, private, and nonprofit sectors.

%p May 8, 2013
%p
  %a{:href => "http://articles.latimes.com/2013/may/08/local/la-me-ln-winners-of-1-million-prize-to-improve-la-announced-20130508"}Winners of $1 million in grants to improve L.A. announced, Los Angeles Times
%p A Los Angeles charitable group that conducted an online poll to determine which of 279 nominated nonprofit and private companies should share in a $1-million prize announced its winners Wednesday.

%p May 8, 2013
%p
  %a{:href => "http://www.scpr.org/programs/take-two/2013/05/08/31692/la2050-project-announces-their-winners/"}Announcing the winners of the LA2050 project, KPCC
%p The LA2050 project by the Goldhirsh Foundation asked organizations across the city what they would do to shape the future of Los Angeles.

%p May 8, 2013
%p
  %a{:href => "http://la.curbed.com/archives/2013/05/2050_la_will_be_doing_so_much_more_with_its_underused_space.php"}2050 LA Will Be Doing So Much More With Its Underused Space, Curbed LA
%p The votes have been counted and KPCC has the list of 10 projects that are going to make Los Angeles super awesome in 2050. Well, hopefully. The projects are all winners in the LA2050 competition and get to split $1 million in prize money--the competition fielded 270 ideas that might make LA a better place in 37 years, and pledged to give $100,000 to the top vote-getter in each of eight categories, plus two additional wildcard projects chosen by the sponsoring Goldhirsh Foundation.

%p April 16, 2013
%p
  %a{:href => "http://www.lamag.com/citythink/citythinkblog/2013/04/16/my-la2050-project-proposals-for-a-better-los-angeles"}My LA2050: Project Proposals For A Better Los Angeles, Los Angeles Magazine
%p Along with The Goldhirsh Foundation, GOOD (whose co-founder and CEO happens to be Ben Goldhirsh), has launched the My LA2050 project, a “community-owned mechanism” designed to reimagine L.A.’s future. With the help of experts, academics, practitioners, and supporters, The Goldhirsh Foundation will fund ten Angeleno-submitted project proposals with one million in grants.
