- if challenge_open?
  .hero-info.margin-bottom Submissions are currently open

  %a.bigger.button#submitlink{ href: '#submit' } Submit now

- else 
  .hero-info.margin-bottom Submissions open September 8th 2015 noon PST