.col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
  .text-center.margin-top
    %p.prose.guide Timeline

  .borderbox.padded.text-center.margin-top
    .timelinebox-deactivated
      %p.prose.guide.little 1. Submission
      .timelinebox
        September 8th - October 6th

    .timelinebox-deactivated
      %p.prose.guide.little 2. Voting
      .timelinebox
        October 20th - November 3rd

    %div
      %p.prose.guide.little 3. Winners announced
      .timelinebox
        .timelinebox-arrow
        December 8

    %p.prose.aside All dates 12pm, Pacific Time
