.col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
  .text-center.margin-top
    %p.prose.guide Timeline

  .borderbox.padded.text-center.margin-top
    %div{class: challenge_phase == :open ? '' : 'timelinebox-deactivated' }
      %p.prose.guide.little 1. Submission
      .timelinebox
        - if challenge_phase == :open
          .timelinebox-arrow
        September 8th - October 6th

    %div{class: challenge_phase == :closed ? '' : 'timelinebox-deactivated' }
      %p.prose.guide.little 2. Voting
      .timelinebox
        - if challenge_phase == :closed
          .timelinebox-arrow
        October 20th - November 3rd

    .timelinebox-deactivated
      %p.prose.guide.little 3. Winners announced
      .timelinebox December 8

    %p.prose.aside All dates 12pm, Pacific Time
