.background-white
  .granteeshero
    .container
      .row
        .col-md-12
          %h1.nomarginbottom My LA2050 Grants Challenge
          %p $1,000,000 to make LA the best place to learn, create, play, connect, and live
          %a.button.bigger{ href: '/challenge' } Learn about our next challenge
          .linebreak

  .previouswinners
    .container
      .row
        .col-md-12
          %h2.margin-bottom Previous winners


      .featuredwinners
        = "<!-- Ping Stephen if you want to edit this! stephen@compiler.la -->"
        {{ cms:partial:grantees/grantees }}