.blogpost {
  margin-bottom:3em;

  h3 {
    margin-bottom:.5em;
  }

  p {

  }
}

.blogpost-shadedbox {
  background-color:#f9f9f9;
  padding:1em;
  border-top:1px solid #333;

  img {
    width:100%;
  }
}

.blogpost-meta {
  font-size:14px;
  color:rgba(#000, .54);
  margin-bottom:10px;
}

.blognav {
  h3 {
    margin-top:0;
    margin-bottom:1em;
    display:block;
  }

  .linebreak {
    margin:2em 0;
  }
}

.blogtags {
  margin-bottom:10px;
}

.blogtag {
  display:inline-block;
  vertical-align:middle;
  background-color:#00b3bc;
  font-size:10px;
  font-weight:bold;
  text-transform:uppercase;
  height:18px;
  line-height:18px;
  padding:{
    left:3px;
    right:6px;
  }
  position:relative;
  margin-right:2em;
  left:9px;

  a {
    color:#fff;
  }
}

.blogtag-tip {
  position:absolute;
  width:0;
  height:0;
  left:-9px;
  top:0;
  border-right:9px solid #00b3bc;
  border-top:9px solid transparent;
  border-bottom:9px solid transparent;

}

.blog-sidenav {
  ul {
    li {
      text-transform:capitalize;
      margin-bottom:.66em;

      a {
        color:rgba(#000, .54);
      }
    }  
  }
}