@font-face {
   font-family: 'Avenir';
      src: url(asset_path('AvenirNextLTPro-Regular.eot'));
      src: url(asset_path('AvenirNextLTPro-Regular.eot?#iefix')) format('embedded-opentype'),
           url(asset_path('AvenirNextLTPro-Regular.woff')) format('woff'),
           url(asset_path('AvenirNextLTPro-Regular.ttf')) format('truetype');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Avenir';
      src: url(asset_path('AvenirNextLTPro-Bold.eot'));
      src: url(asset_path('AvenirNextLTPro-Bold.eot?#iefix')) format('embedded-opentype'),
           url(asset_path('AvenirNextLTPro-Bold.woff')) format('woff'),
           url(asset_path('AvenirNextLTPro-Bold.ttf')) format('truetype');
   font-weight: 800;
   font-style: bold;
}