.footer-facebook {
  display:inline-block;
  width:30px;
  height:30px;
  background:url(asset-path('icon-facebook-grey.svg')) center center no-repeat;
}

.footer-twitter {
  display:inline-block;
  width:37px;
  height:30px;
  background:url(asset-path('icon-twitter-grey.svg')) center center no-repeat;
}