.footer-facebook {
  display:inline-block;
  width:30px;
  height:30px;
  background:url(asset-path('icon-facebook-grey.svg')) center center no-repeat;
  background-size:contain;
}

.footer-twitter {
  display:inline-block;
  width:38px;
  height:30px;
  background:url(asset-path('icon-twitter-grey.svg')) center center no-repeat;
  background-size:contain;
}

.footer-instagram {
  display:inline-block;
  width:38px;
  height:30px;
  background:url(asset-path('icon-instagram-grey.svg')) center center no-repeat;
  background-size:contain;
}

.footer-pinterest {
  display:inline-block;
  width:38px;
  height:30px;
  background:url(asset-path('icon-pinterest-grey.svg')) center center no-repeat;
  background-size:contain;
}

.footer-goldhirsh {
  display:inline-block;
  width:125px;
  height:40px;
  background:url(asset-path('logo-goldhirsh.png')) center center no-repeat;
  background-size:contain;
}