#homehero {
  position:relative;
}

.homehero-bg {
  img {
    width:100%;
    z-index:1;
  }
}

.homehero-fg {
  width:100%;
  position:absolute;
  bottom:0;

  img {
    width:100%;
    z-index:3;
  }
}

.homehero-text {
  position:absolute;
  bottom:26%;
  width:100%;
  text-align:center;
  left:0;

  img {
    display:inline-block;
    max-width:100%;
    z-index:2;

    @media (max-width: 900px){
      width: 80%;
    }
  }
}

.homehero-cta {
  position:absolute;
  bottom:6%;
  width:100%;
  text-align:center;

  .button {
    width:48%;
    margin-right:1%;
  }
}

.homehero-ctatext {
  color:#fff;
  font-size:30px;
  margin-bottom:.66em;

  @media (max-width: 830px){
    font-size:20px;
  }

  @media (max-width: 600px){
    display:none;
  }
}

i {
  display:inline-block;
  vertical-align:middle;
}

.home-how {
  position:relative;
  background-image:url(asset-path('aerial.jpg'));
  background-size:cover;
}

.home-how-overlay {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:rgba(#00b3bc, .08);
}

.icon-doc {
  background:url(asset-path('icon-document.svg')) center center no-repeat;
  background-size:contain;
}

.icon-briefcase {
  background:url(asset-path('icon-briefcase.svg')) center center no-repeat;
  background-size:contain;
}

.icon-chart {
  background:url(asset-path('icon-chart.svg')) center center no-repeat;
  background-size:contain;
}

.icon-megaphone {
  background:url(asset-path('icon-megaphone.svg')) center center no-repeat;
  background-size:contain;
}

.icon-check {
  background:url(asset-path('icon-check.svg')) center center no-repeat;
  background-size:contain;
}

.home-sunback {
  background:url(asset-path('sunback.png')) no-repeat;
  background-origin:bottom center;
}
