#homehero {
  img {
    width:100%;
  }
}

i {
  display:inline-block;
  vertical-align:middle;
}

.icon-doc {
  background:url(asset-path('icon-document.svg')) center center no-repeat;
  background-size:contain;
}

.icon-briefcase {
  background:url(asset-path('icon-briefcase.svg')) center center no-repeat;
  background-size:contain;
}

.icon-chart {
  background:url(asset-path('icon-chart.svg')) center center no-repeat;
  background-size:contain;
}