.metric {
  color:#00b3bc;
  display:inline-block;
  padding-left:30px;
  position:relative;

  a {
    color:#00b3bc;
  }

  i {
    position:absolute;
    left:0px;
    top:3px;
    background:url(image-path('icon-chart.svg')) no-repeat;
    height:1em;
    width:1em;
    background-size:contain;
    display:inline-block;
  }
}

.goalmetrics {
  .metric {
    font-size:18px;
  }
}