.pillbox-wrap {
  margin-top:55px;
  margin-bottom:18px;
}

.pillbox-outer {
  position:relative;
  border:3px solid #fff;
  border-radius:100px;
  padding:9px;
}

.pillbox-inner {
  height:12px;
  background-color:#fff;
  border-radius:100px;
  width:100%;

  &.exceeds {
    position:relative;
    bottom:18px;
    left:6px;
  }
}

.pillbox-year {
  position:absolute;
  top:3px;
  left:1em;
  text-align:right;
  color:rgba(#000, .87);
  font-size:18px;
}

.pillbox-value {
  position:absolute;
  top:-70px;
  left:1em;
  text-align:right;
  font-size:18px;
  white-space:nowrap;
}

.pillbox-axis {
  position:relative;
}