.pillbox-outer {
  border:3px solid #fff;
  border-radius:100px;
  padding:9px;
}

.pillbox-inner {
  height:12px;
  background-color:#fff;
  border-radius:100px;
  width:100%;
}

.pillbox-year {
  position:absolute;
  top:.5em;
  left:1em;
  text-align:right;
  color:rgba(#fff, .8);
  font-size:24px;
}

.pillbox-timeaxis {
  position:relative;
}