.timelinebox-arrow {
  background:url('icon-arrow-right-cyan.svg');
  width:1.44em;
  height:1.44em;
  background-size:contain;
  display:inline-block;
  vertical-align:middle;
  left:-10px;
  position:relative;
}