- unless @cms_page.present? && @cms_page.label == 'home'
  .navpadding{ class: display_subnav? ? 'bigger' : '' }

.container-fluid
  .row.nav-wrap{ class: @cms_page.try(:label) == 'home' ? 'home' : '' }
    .col-sm-2.col-xs-12
      %a#nav-homelink{:href => "/"} LA2050

    %nav.col-sm-10.col-xs-12.hidden-xs
      %a{:href => "/about", class: (['story', 'community', 'press', 'instagram', 'la2050listens'].include?(@cms_page.try(:slug)) ? 'selected' : '')} About
      %span= "|"
      %a{:href => "/challenge", class: (['challenge', 'grantees'].include?(@cms_page.try(:slug)) ? 'selected' : '')} Challenges
      %a{:href => "/jobs", class: (['jobs'].include?(@cms_page.try(:slug)) ? 'selected' : '')} Jobs
      %a{:href => "/goals", class: (['dashboard', 'goals', 'metrics', 'datasets', 'reports', 'live', 'create', 'learn', 'connect', 'play'].include?(@cms_page.try(:slug)) || ['metrics'].include?(controller.controller_name) ? 'selected' : '')} Goals

    - if display_about_nav?
      .nav-subnav.col-xs-12
        %a{:href => "/about", class: (['story'].include?(@cms_page.try(:slug)) ? 'selected' : '')} Story
        \/
        %a{:href => "/community", class: (['community'].include?(@cms_page.try(:slug)) ? 'selected' : '')} Community
        \/
        %a{:href => "/blog", class: (request.original_fullpath == '/blog' ? 'selected' : '')} Happenings
        \/
        %a{:href => "/press", class: (['press'].include?(@cms_page.try(:slug)) ? 'selected' : '')} Press
        \/
        %a{:href => "/instagram", class: (['instagram'].include?(@cms_page.try(:slug)) ? 'selected' : '')} Instagram

    - if display_dashboard_nav?
      .nav-subnav.col-xs-12
        %a{:href => "/goals", class: (['goals', 'live', 'create', 'learn', 'connect', 'play'].include?(@cms_page.try(:slug)) ? 'selected' : '')} Goals
        \/
        %a{:href => "/metrics", class: (['metrics'].include?(@cms_page.try(:slug)) || controller.controller_name == 'metrics' ? 'selected' : '')} Metrics
        \/
        %a{:href => "/reports", class: (['reports'].include?(@cms_page.try(:slug)) ? 'selected' : '')} Reports
:javascript
  $(document).ready(function(){
    var $navWrap = $('.nav-wrap');
    var classBeforeName = 'will-be-scrolled';
    var classAfterName = 'scrolled';
    $(document).scroll(function(){
      if($(document).scrollTop() > 100){
        $navWrap.addClass(classBeforeName);
        setTimeout(function(){
          $navWrap.addClass(classAfterName);
        }, 1);
      } else {
        $navWrap.removeClass(classAfterName);
        $navWrap.removeClass(classBeforeName);
      }
    });
  });