- unless @cms_page.present? && @cms_page.slug == 'home'
  .navpadding{ class: display_subnav? ? 'bigger' : '' }

.container-fluid
  .row.nav-wrap{ class: @cms_page.try(:slug) == 'home' ? 'home' : '' }
    .col-sm-2.col-xs-12
      %a#nav-homelink{:href => "/"} LA2050

    %nav.col-sm-10.col-xs-12
      %a{:href => "/about", class: (['about', 'press', 'instagram', 'team', 'contact'].include?(@cms_page.try(:slug)) ? 'selected' : '')} About
      %span= "|"
      %a{:href => "/challenge", class: (['challenge', 'grantees'].include?(@cms_page.try(:slug)) ? 'selected' : '')} Challenge
      %a{:href => "/jobs", class: (['jobs'].include?(@cms_page.try(:slug)) ? 'selected' : '')} Jobs
      %a{:href => "/dashboard", class: (['dashboard', 'goals', 'metrics'].include?(@cms_page.try(:slug)) ? 'selected' : '')} Dashboard

    - if display_subnav?
      .nav-subnav.col-xs-12
        %a{:href => "/about", class: (['about'].include?(@cms_page.try(:slug)) ? 'selected' : '')} About
        \/
        %a{:href => "/blog", class: (request.original_fullpath == '/blog' ? 'selected' : '')} Blog
        \/
        %a{:href => "/press", class: (['press'].include?(@cms_page.try(:slug)) ? 'selected' : '')} Press
        \/
        %a{:href => "/instagram", class: (['instagram'].include?(@cms_page.try(:slug)) ? 'selected' : '')} Instagram
        \/
        %a{:href => "/team", class: (['team'].include?(@cms_page.try(:slug)) ? 'selected' : '')} Team
        \/
        %a{:href => "/contact", class: (['contact'].include?(@cms_page.try(:slug)) ? 'selected' : '')} Contact

:javascript
  $(document).ready(function(){
    var $navWrap = $('.nav-wrap');
    var classBeforeName = 'will-be-scrolled';
    var classAfterName = 'scrolled';
    $(document).scroll(function(){
      if($(document).scrollTop() > 100){
        $navWrap.addClass(classBeforeName);
        setTimeout(function(){
          $navWrap.addClass(classAfterName);
        }, 1);
      } else {
        $navWrap.removeClass(classAfterName);
        $navWrap.removeClass(classBeforeName);
      }
    });
  });