#shield
.popup
  .popup-x X
  .popup-title= cms_block_render(:title, Comfy::Cms::Page.find_by_full_path('/popup'))
  .popup-content= cms_block_render(:content, Comfy::Cms::Page.find_by_full_path('/popup'))

:javascript
  function popupOpen(){
    $('#shield').fadeIn(500);
    $('.popup').slideDown(300);
  }

  function popupClose(){
    $('#shield').fadeOut(500);
    $('.popup').slideUp(150);
  }

  function markSeen(){
    Cookies.set('popupseen', hashedContent());
  }

  function sawPopup(){
    return Cookies.get('popupseen') == hashedContent();
  }

  function hashedContent(){
    return hash($('.popup').html());
  }

  function hash(input) {
    var hash = 0, i, chr, len;
    if (input.length == 0) return hash;
    for (i = 0, len = input.length; i < len; i++) {
      chr   = input.charCodeAt(i);
      hash  = ((hash << 5) - hash) + chr;
      hash |= 0; // Convert to 32bit integer
    }
    return hash;
  }

  $(document).ready(function(){
    if(!sawPopup()){
      setTimeout(function(){
        popupOpen();
      }, 1300);
    }

    $('.popup-x').click(function(){
      popupClose();
      markSeen();
    });
  });