.col-md-4.margin-bottom
  .borderbox.padded.actionitem
    - if action_item.photo?
      = image_tag action_item.photo.url(:small)

    .actionitem-title= action_item.title
    %p= action_item.description

    = link_to action_item.action_text, action_item.action_url, class: 'button'