.background-white.paddedsection
  .container
    .row
      .col-md-12
        %h2 {{cms:page:job_title}}
        %h3 {{cms:page:organizations}}

    .row
      .col-md-8
        %dl
          %dt Employment type
          %dl {{cms:page:employment_type}}

        %dl
          %dt Posted
          %dl {{cms:page:posted}} ago

        %dl
          %dt Location
          %dl {{cms:page:location}}

        %dl
          %dt Description
          %dl {{cms:page:description}}

        %dl
          %dt To apply
          %dl.richtext {{cms:page:to_apply}}