- Report.all.in_groups_of(2) do |reports|
  .row.margin-bottom
    - reports.each do |report|
      - if report.present?
        .col-sm-6.report
          %h2= report.title
          - if report.photo?
            = image_tag report.photo.url(:medium)
          %p= report.description
          = link_to "Read the report", report.pdf.url, class: 'button'
