- Report.all.each do |report|
  .row
    %h2= report.title
    %p
      - if report.photo?
        = image_tag report.photo.url(:small)
    %p= report.description
    = link_to "Read the report", report.report_url, class: 'button'
