.background-white.paddedsection
  .container
    .row
      .col-sm-8
        %h1 Contact

      .col-sm-8
        %h2 Connect
        %p
          %a{ :href => ""}Pinterest
          %a{ :href => ""}Google Plus
          %a{ :href => ""}Twitter
          %a{ :href => ""}Facebook
          %a{ :href => ""}Instagram
          %a{ :href => "http://community.good.is/la2050"}Good

        %p.prose.guide Sign up for our mailing list
        %input{ type: 'text', placeholder: 'Your email' }
        %button Get involved
