%p.prose.secondary Connect with LA2050 online
%p
  %a.footer-facebook{ href: 'http://facebook.com/la2050', target: '_blank' }
  %a.footer-twitter{ href: 'http://twitter.com/la2050', target: '_blank' }
  %a{ :href => ""}Pinterest
  %a{ :href => ""}Instagram

%p.prose.secondary Sign up for our mailing list
%input{ type: 'text', placeholder: 'Your email' }
%button Get involved
