.greaterinitiative
  .container-fluid
    .row
      .col-md-12
        .greaterinitiative-slashes //
        %dl
          %dt The My LA2050 Grants Challenge is part of the greater <a href='/'>LA2050 initiative</a>
          %dd We’re working to move Los Angeles toward the LA2050 goals

.linenav-wrap
  .container
    .row
      .col-md-12
        %ul.linenav
          %li
            %a{ href: '/grantees' }  Our grantees
          %li= "|"
          %li.selected 2015 MyLA2050 Grants Challenge

#challengehero
  .darkener
  .challengehero-contentwrap
    .container
      .row
        .col-md-12
          .hero-title My LA2050 Grants Challenge
          .hero-byline $1,000,000 to make LA the best place to learn, play, connect, create, and live.
          .linebreak
          .hero-info.margin-bottom Submissions are currently open

          %a.bigger.button{ href: 'http://good.is' } Submit now