.greaterinitiative
  .container-fluid
    .row
      .col-md-12
        .greaterinitiative-slashes //
        %dl
          %dt The My LA2050 Grants Challenge is part of the greater <a href='/'>LA2050 initiative</a>
          %dd We’re working to move Los Angeles toward the LA2050 goals

.paddedsection
  .linenav-wrap
    .container
      .row
        .col-md-12
          %ul.linenav
            %li.selected Our grantees
            %li= "|"
            %li
              %a{ href: '#' } 2015 Challenge
