:javascript
  $(function(){
    $('#submitlink').click(function(e){
      e.preventDefault();
      $('html, body').animate({scrollTop: $('#submit').offset().top - 50}, 500);
    });
  });

.background-white
  #challengehero
    .darkener
    .challengehero-contentwrap
      .container
        .row
          .col-md-12
            .hero-title My LA2050 Grants Challenge
            .hero-byline $1,000,000 to make LA the best place to learn, create, play, connect, and live.
            .linebreak

            .hero-info.margin-bottom Submissions open September 8th 2015 noon PST

            / .hero-info.margin-bottom Submissions are currently open

            / %a.bigger.button#submitlink{ href: '#submit' } Submit now

  .background-white.paddedsection
    .container
      .row
        .col-md-8.col-md-offset-2.text-center
          %h1 $1,000,000
          %p.prose.secondary How will you help Los Angeles become the best place to learn, create, play, connect, and live? Submit an application for the chance to win $100,000 to make your idea come to life.

      .row
        .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
          .text-center.margin-top
            %p.prose.guide Timeline

          .borderbox.padded.text-center.margin-top
            %p.prose.guide.little 1. Submission
            .timelinebox
              .timelinebox-arrow
              September 8th - October 6th

            .timelinebox-deactivated
              %p.prose.guide.little 2. Voting
              .timelinebox October 20th - November 3rd
              %p.prose.guide.little 3. Winners announced
              .timelinebox December 8

            %p.prose.aside All dates 12pm, Pacific Time

  %a{ id: 'submit' }
  .background-grey.paddedsection.text-center.readytosubmit
    .container
      .row
        .col-md-8.col-md-offset-2
          %p.prose.secondary Ready to submit?
          %p.prose.guide.margin-bottom Choose a submission category

          .goalboxes
            %a.goalcolorbox.bigger.cyan{ href: 'http://myla2050learn2015.maker.good.is/' } Learn
            %a.goalcolorbox.bigger.yellow{ href: 'http://myla2050create2015.maker.good.is/' } Create
            %a.goalcolorbox.bigger.magenta{ href: 'http://myla2050play2015.maker.good.is/' } Play
            %a.goalcolorbox.bigger.red{ href: 'http://myla2050connect2015.maker.good.is/' } Connect
            %a.goalcolorbox.bigger.green{ href: 'http://myla2050live2015.maker.good.is/' } Live

  .background-white.paddedsection
    .container
      .row
        .col-md-8.col-md-offset-2.text-center
          %h1 Two ways to win
          %p.light.margin-bottom After a moderation process to ensure compliance with the rules, your proposal will compete for one of ten, $100,000 grants.
          .icon-arrow-cyan-down

    .twoways.margin-top
      .container
        .row
          .col-md-6.text-center
            .icon-heart
            %h2.margin-bottom.margin-top Top voted: 5 winners
            %p.prose.secondary
              One of the <strong>top 10 voted</strong> proposals in each of the five LA2050 Goal Categories will be picked to receive $100,000 to implement their idea. 

          .col-md-6.text-center
            .icon-jury
            %h2.margin-bottom.margin-top Jury voted: 5 winners
            %p.prose.secondary
              The <strong>jury will pick</strong> one proposal in each of the five LA2050 Goal Categories to receive $100,000 to implement their idea.

  .background-white.paddedsection
    .container
      .row
        .col-md-8.col-md-offset-2.text-center
          %p.prose.primary In 2014 we recieved <strong>more than 260 proposals</strong> for the My LA2050 Grants Challange. 
          %p.prose.secondary Need some inspiration? Check out some of our previous winners.

  .background-white.margin-top-more
    .container
      .row
        {{ cms:partial:grantees/granteespreview }}
        .col-md-12
          .margin-bottom-more
