.background-white
  .container
    .row
      .col-sm-8
        .icon.icon-chart.title
        %h1.margin-bottom Metrics
        %p
          The target metrics are measures of progress for each goal. Any particular target metric by itself can’t tell the complete story. So, we’ve combined a variety of metrics for each goal to provide a fuller picture of how the region is doing. The #LA2050Listens community conversation series and roundtable sessions with topic experts contributed to the formation of the target metrics and goals.
        %p
          When selecting target metrics, LA2050 looked at statistical information that: a) contributes to achieving the goal, b) can be reliably sourced, and c) is regularly updated.

  .container
    .row
      {{cms:partial:goals/goalfilters}}

    .row
      .col-md-12
        %table.metriclist.margin-bottom
          %thead
            %tr
              %th Metric
              %th

          %tbody
            {{cms:partial:metrics/metrics}}