.background-grey.paddedsection
  .container
    .row
      .col-sm-8
        .icon.icon-chart
        %h1 Metrics
        %p Metrics help us track our goals. They were chosen as a result of our #LA2050Listens series of events. These metrics were shaped by YOU.
        Below is a list of all of the metrics being tracked as part of LA2050's goals.