.sectionbreak
.background-white.paddedsection
  .container
    .row
      .col-sm-8
        .icon.icon-chart.title
        %h1.margin-bottom Metrics
        %p Metrics help us track our goals. They were chosen as a result of our <a href='/about/la2050listens'>#LA2050Listens</a> series of events. These metrics were shaped by <strong>you</strong>. Below is a list of all of the metrics being tracked as part of <a href='/goals'>LA2050's goals</a>.