.background-white
  .container
    .row
      .col-sm-8
        .icon.icon-chart.title
        %h1.margin-bottom Metrics
        %p.prose.secondary
          The target metrics for each goal are measures of progress. Any particular target metric by itself can’t tell the complete story. So, we’ve combined a variety of data points for each goal to provide a fuller picture of how the region is doing.
        %p.prose.secondary
          When selecting target metrics, LA2050 looked at statistical information that: a) contributes to achieving the goal, b) can be reliably sourced, and c) is regularly updated.

  .container
    .row
      {{cms:partial:goals/goalfilters}}

    .row
      .col-md-12
        %table.metriclist.margin-bottom
          %thead
            %tr
              %th Metric
              %th

          %tbody
            {{cms:partial:metrics/metrics}}